{
  "openapi": "3.1.0",
  "info": {
    "title": "Arke v1 API",
    "version": "1.0.0",
    "description": "Entity management API with content-addressed versioning and permissions."
  },
  "servers": [
    {
      "url": "https://api.arke.institute",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Authentication and registration"
    },
    {
      "name": "Users",
      "description": "User profile management"
    },
    {
      "name": "Entities",
      "description": "Entity CRUD operations for all types (files, folders, etc.)"
    },
    {
      "name": "Collections",
      "description": "Collection and permission management"
    },
    {
      "name": "Permissions",
      "description": "Permission system metadata and introspection"
    },
    {
      "name": "Search",
      "description": "Cross-collection semantic search"
    },
    {
      "name": "Query",
      "description": "Argo DSL query engine combining semantic search and graph traversal"
    },
    {
      "name": "Graph",
      "description": "Graph traversal and path-finding"
    },
    {
      "name": "Kladoi",
      "description": "Workflow action units - atomic operations with defined inputs/outputs"
    },
    {
      "name": "Rhizai",
      "description": "Workflow orchestration - DAGs of kladoi for multi-step pipelines"
    },
    {
      "name": "Events",
      "description": "Entity change event stream"
    },
    {
      "name": "API Keys",
      "description": "User and agent API key management"
    },
    {
      "name": "Documentation",
      "description": "API documentation and introspection"
    },
    {
      "name": "Alpha",
      "description": "Alpha invite management (admin only)"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Core",
      "tags": [
        "Auth",
        "Users",
        "Entities",
        "Collections",
        "Permissions"
      ]
    },
    {
      "name": "Discovery",
      "tags": [
        "Search",
        "Query",
        "Graph"
      ]
    },
    {
      "name": "Automation",
      "tags": [
        "Kladoi",
        "Rhizai"
      ]
    },
    {
      "name": "System",
      "tags": [
        "Events",
        "API Keys",
        "Documentation"
      ]
    },
    {
      "name": "Admin",
      "tags": [
        "Alpha"
      ]
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Supabase JWT token. Use `Authorization: Bearer <jwt>`. Only for JWT tokens from Supabase auth - do NOT use Bearer with API keys."
      },
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API Key authentication. **Important:** Use `Authorization: ApiKey <key>` (NOT Bearer). Format: `ApiKey uk_xxx` (user keys) or `ApiKey ak_xxx` (agent keys). Using Bearer with API keys will fail."
      }
    },
    "parameters": {
      "X-Arke-Network": {
        "name": "X-Arke-Network",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string",
          "enum": [
            "main",
            "test"
          ],
          "default": "main"
        },
        "description": "Target network. Use `test` for isolated test data with II-prefixed IDs."
      },
      "X-On-Behalf-Of": {
        "name": "X-On-Behalf-Of",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "User entity ID for service accounts acting on behalf of a user. Only valid with `role: service` authentication."
      }
    },
    "schemas": {
      "RegisterUser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "example": "01J1SHMAE10000000000000000"
          },
          "cid": {
            "type": "string",
            "minLength": 1,
            "description": "Content Identifier (CID) - content-addressed hash",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "properties": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "example": {
              "label": "Ishmael",
              "name": "Ishmael"
            }
          },
          "ver": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Entity version number",
            "example": 1
          }
        },
        "required": [
          "id",
          "cid",
          "properties",
          "ver"
        ]
      },
      "RegisterResponse": {
        "type": "object",
        "properties": {
          "created": {
            "type": "boolean",
            "description": "True if user was created, false if already registered",
            "example": true
          },
          "user": {
            "$ref": "#/components/schemas/RegisterUser"
          }
        },
        "required": [
          "created",
          "user"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message",
            "example": "Not found"
          },
          "details": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Additional error details"
          }
        },
        "required": [
          "error"
        ]
      },
      "WhoamiUserResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "user"
            ],
            "description": "Identity type"
          },
          "id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "User entity ID",
            "example": "01J1SHMAE10000000000000000"
          },
          "auth_method": {
            "type": "string",
            "enum": [
              "jwt",
              "api_key"
            ],
            "description": "How this identity was authenticated",
            "example": "jwt"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "User email (JWT auth only)",
            "example": "ishmael@pequod.ship"
          },
          "name": {
            "type": "string",
            "description": "Display name (JWT auth only)",
            "example": "Ishmael"
          },
          "supabase_user_id": {
            "type": "string",
            "format": "uuid",
            "description": "Supabase Auth user ID (JWT auth only)"
          },
          "key_prefix": {
            "type": "string",
            "description": "API key prefix (API key auth only)",
            "example": "uk_abc1"
          },
          "key_expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "API key expiration (API key auth only)"
          }
        },
        "required": [
          "type",
          "id",
          "auth_method"
        ]
      },
      "WhoamiAgentResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "agent"
            ],
            "description": "Identity type"
          },
          "id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Agent entity ID",
            "example": "01J1AGENTID000000000000000"
          },
          "auth_method": {
            "type": "string",
            "enum": [
              "api_key"
            ],
            "description": "How this identity was authenticated",
            "example": "api_key"
          },
          "owner_id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Entity ID of the agent owner",
            "example": "01J1OWNERID0000000000000000"
          },
          "key_prefix": {
            "type": "string",
            "description": "API key prefix",
            "example": "ak_xyz9"
          },
          "key_expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "API key expiration"
          }
        },
        "required": [
          "type",
          "id",
          "auth_method",
          "owner_id",
          "key_prefix",
          "key_expires_at"
        ]
      },
      "WhoamiResponse": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/WhoamiUserResponse"
          },
          {
            "$ref": "#/components/schemas/WhoamiAgentResponse"
          }
        ]
      },
      "AlphaInvite": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "ishmael@pequod.ship"
          },
          "invited_by": {
            "type": "string",
            "example": "admin"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "accepted",
              "revoked",
              "waitlisted"
            ],
            "example": "pending"
          },
          "created_at": {
            "type": "string",
            "example": "2026-01-28T12:00:00.000Z"
          },
          "accepted_at": {
            "type": "string",
            "nullable": true,
            "example": null
          }
        },
        "required": [
          "id",
          "email",
          "invited_by",
          "status",
          "created_at",
          "accepted_at"
        ]
      },
      "CreateAlphaInviteResponse": {
        "type": "object",
        "properties": {
          "invite": {
            "$ref": "#/components/schemas/AlphaInvite"
          }
        },
        "required": [
          "invite"
        ]
      },
      "CreateAlphaInviteRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address to invite",
            "example": "ishmael@pequod.ship"
          },
          "invited_by": {
            "type": "string",
            "description": "Who is sending the invite (defaults to \"admin\")",
            "example": "admin"
          }
        },
        "required": [
          "email"
        ]
      },
      "ListAlphaInvitesResponse": {
        "type": "object",
        "properties": {
          "invites": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AlphaInvite"
            }
          },
          "count": {
            "type": "integer",
            "example": 5
          }
        },
        "required": [
          "invites",
          "count"
        ]
      },
      "EntityResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Entity ID (ULID format)",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          },
          "cid": {
            "type": "string",
            "minLength": 1,
            "description": "Content Identifier (CID) - content-addressed hash",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "type": {
            "type": "string",
            "example": "collection"
          },
          "properties": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "example": {
              "label": "The Pequod's Archive",
              "description": "A collection of whaling documents"
            }
          },
          "relationships": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "predicate": {
                  "type": "string",
                  "minLength": 1
                },
                "peer": {
                  "type": "string",
                  "minLength": 1
                },
                "peer_type": {
                  "type": "string"
                },
                "peer_label": {
                  "type": "string"
                },
                "properties": {
                  "type": "object",
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              },
              "required": [
                "predicate",
                "peer"
              ],
              "description": "Entity relationship",
              "example": {
                "predicate": "crew",
                "peer": "01KDETYWYWM0MJVKM8DK3AEXPY",
                "peer_type": "collection"
              }
            }
          },
          "ver": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Entity version number",
            "example": 1
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 datetime",
            "example": "2025-12-26T12:00:00.000Z"
          },
          "ts": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Unix timestamp in milliseconds",
            "example": 1735214400000
          },
          "edited_by": {
            "type": "object",
            "properties": {
              "user_id": {
                "type": "string",
                "minLength": 1
              },
              "user_label": {
                "type": "string",
                "description": "Display name of the user/agent (populated during expansion)",
                "example": "Captain Ahab"
              },
              "method": {
                "type": "string",
                "enum": [
                  "manual",
                  "ai_generated",
                  "system",
                  "import"
                ]
              },
              "on_behalf_of": {
                "type": "string"
              },
              "on_behalf_of_label": {
                "type": "string",
                "description": "Display name of the on_behalf_of user/agent (populated during expansion)",
                "example": "Research Assistant"
              }
            },
            "required": [
              "user_id",
              "method"
            ],
            "description": "Audit trail for edits. Label fields are populated when ?expand=relationships is used.",
            "example": {
              "user_id": "01JCAPTAINAHAB000000000000",
              "user_label": "Captain Ahab",
              "method": "manual"
            }
          },
          "prev_cid": {
            "type": "string",
            "minLength": 1,
            "description": "Previous version CID (present on updates)",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          }
        },
        "required": [
          "id",
          "cid",
          "type",
          "properties",
          "relationships",
          "ver",
          "created_at",
          "ts",
          "edited_by"
        ]
      },
      "UserResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EntityResponse"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "user"
                ]
              }
            }
          }
        ]
      },
      "CreateApiKeyResponse": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "Full API key - store this securely, it will not be shown again",
            "example": "uk_xKj92mNpQrStUvWxYz1234567890abcdef1234567890abcdef12345678"
          },
          "key_prefix": {
            "type": "string",
            "description": "Key prefix for identification",
            "example": "uk_xKj9"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the key expires",
            "example": "2026-03-28T00:00:00.000Z"
          }
        },
        "required": [
          "key",
          "key_prefix",
          "expires_at"
        ]
      },
      "CreateApiKeyRequest": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "maxLength": 100,
            "description": "Human-readable label for the key",
            "example": "Production"
          },
          "expires_in": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "maximum": 31536000,
            "description": "Time until expiration in seconds (default: 90 days, max: 365 days)",
            "example": 7776000
          }
        }
      },
      "ApiKeyInfo": {
        "type": "object",
        "properties": {
          "key_prefix": {
            "type": "string",
            "description": "Key prefix for identification",
            "example": "uk_xKj9"
          },
          "label": {
            "type": "string",
            "nullable": true,
            "description": "Human-readable label",
            "example": "Production"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the key was created",
            "example": "2025-12-28T00:00:00.000Z"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the key expires",
            "example": "2026-03-28T00:00:00.000Z"
          },
          "last_used_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "description": "When the key was last used (null if never used)",
            "example": "2025-12-28T10:30:00.000Z"
          }
        },
        "required": [
          "key_prefix",
          "label",
          "created_at",
          "expires_at",
          "last_used_at"
        ]
      },
      "ListApiKeysResponse": {
        "type": "object",
        "properties": {
          "keys": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiKeyInfo"
            },
            "description": "List of API keys"
          }
        },
        "required": [
          "keys"
        ]
      },
      "UserCollectionItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Collection ID",
            "example": "01JCOLLECTION123456789AB"
          },
          "label": {
            "type": "string",
            "description": "Collection label/name",
            "example": "My Research Collection"
          },
          "predicate": {
            "type": "string",
            "description": "Role predicate indicating user's relationship to collection",
            "example": "owner"
          },
          "created_at": {
            "type": "string",
            "description": "When the collection was created",
            "example": "2026-01-12T00:00:00.000Z"
          }
        },
        "required": [
          "id",
          "label",
          "predicate",
          "created_at"
        ]
      },
      "UserCollectionsResponse": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string",
            "description": "User persistent identifier",
            "example": "01JUSER123456789ABCDEFGH"
          },
          "collections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserCollectionItem"
            },
            "description": "Collections the user has access to"
          },
          "pagination": {
            "type": "object",
            "properties": {
              "offset": {
                "type": "number",
                "description": "Current offset"
              },
              "limit": {
                "type": "number",
                "description": "Results per page"
              },
              "count": {
                "type": "number",
                "description": "Number of results returned"
              },
              "has_more": {
                "type": "boolean",
                "description": "Whether more results exist"
              }
            },
            "required": [
              "offset",
              "limit",
              "count",
              "has_more"
            ],
            "description": "Pagination metadata"
          }
        },
        "required": [
          "user_id",
          "collections",
          "pagination"
        ]
      },
      "EntityPreview": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Entity ID (persistent identifier)",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          },
          "type": {
            "type": "string",
            "description": "Entity type",
            "example": "document"
          },
          "label": {
            "type": "string",
            "description": "Entity label (from properties.label, filename, or name)",
            "example": "Research Paper.pdf"
          },
          "collection_id": {
            "type": "string",
            "description": "Collection ID this entity belongs to",
            "example": "01JCOLLECTION123456789ABCD"
          },
          "description_preview": {
            "type": "string",
            "description": "Truncated description (max 200 chars + \"...\")",
            "example": "This document contains research findings from the 2025 study on entity management systems. It covers key architectural decisions and performance benchmarks..."
          },
          "text_preview": {
            "type": "string",
            "description": "Truncated text content (max 200 chars + \"...\")",
            "example": "Introduction: The rise of decentralized entity management systems has created new challenges for data integrity and consistency. This paper explores..."
          },
          "created_at": {
            "type": "string",
            "description": "Entity creation timestamp (ISO 8601)",
            "example": "2025-01-15T10:00:00.000Z"
          },
          "updated_at": {
            "type": "string",
            "description": "Last update timestamp (ISO 8601)",
            "example": "2025-01-20T14:30:00.000Z"
          }
        },
        "required": [
          "id",
          "type",
          "label",
          "created_at",
          "updated_at"
        ],
        "description": "Lightweight entity preview with fresh data. Included by default (expand: \"preview\").",
        "example": {
          "id": "01KDETYWYWM0MJVKM8DK3AEXPY",
          "type": "file",
          "label": "Research Paper.pdf",
          "collection_id": "01JCOLLECTION123456789AB",
          "description_preview": "A comprehensive study on distributed systems architecture...",
          "created_at": "2026-01-12T00:00:00.000Z",
          "updated_at": "2026-01-12T10:30:00.000Z"
        }
      },
      "SearchResultItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Entity ID",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          },
          "type": {
            "type": "string",
            "description": "Entity type",
            "example": "file"
          },
          "label": {
            "type": "string",
            "description": "Entity label/name",
            "example": "Research Paper.pdf"
          },
          "collection_id": {
            "type": "string",
            "nullable": true,
            "description": "Collection this entity belongs to (null for public-domain)",
            "example": "01JCOLLECTION123456789AB"
          },
          "score": {
            "type": "number",
            "description": "Relevance score (0-1, higher is better)",
            "example": 0.87
          },
          "created_at": {
            "type": "string",
            "description": "When the entity was created",
            "example": "2026-01-12T00:00:00.000Z"
          },
          "updated_at": {
            "type": "string",
            "description": "When the entity was last updated",
            "example": "2026-01-12T10:30:00.000Z"
          },
          "entity_preview": {
            "$ref": "#/components/schemas/EntityPreview"
          },
          "entity": {
            "allOf": [
              {
                "$ref": "#/components/schemas/EntityResponse"
              },
              {
                "description": "Complete entity manifest with all properties and relationships. Only included when expand: \"full\"."
              }
            ]
          }
        },
        "required": [
          "id",
          "type",
          "label",
          "collection_id",
          "score"
        ]
      },
      "SearchMetadata": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string",
            "description": "Original search query"
          },
          "collections_queried": {
            "type": "integer",
            "description": "Number of collections searched"
          },
          "collections_total": {
            "type": "integer",
            "description": "Total collections user has access to"
          },
          "include_public": {
            "type": "boolean",
            "description": "Whether public-domain was included"
          },
          "execution_time_ms": {
            "type": "number",
            "description": "Total execution time in milliseconds"
          },
          "result_count": {
            "type": "integer",
            "description": "Number of results returned"
          }
        },
        "required": [
          "query",
          "collections_queried",
          "collections_total",
          "include_public",
          "execution_time_ms",
          "result_count"
        ],
        "description": "Search metadata and statistics"
      },
      "CrossCollectionSearchResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchResultItem"
            },
            "description": "Search results ranked by relevance"
          },
          "metadata": {
            "$ref": "#/components/schemas/SearchMetadata"
          }
        },
        "required": [
          "results",
          "metadata"
        ]
      },
      "ValidationErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Validation failed"
          },
          "details": {
            "type": "object",
            "properties": {
              "issues": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "path": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          }
                        ]
                      }
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "path",
                    "message"
                  ]
                }
              }
            },
            "required": [
              "issues"
            ]
          }
        },
        "required": [
          "error"
        ]
      },
      "CrossCollectionSearchRequest": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string",
            "minLength": 1,
            "maxLength": 10000,
            "description": "Search query text for semantic matching",
            "example": "medical research"
          },
          "type": {
            "type": "string",
            "description": "Filter results to specific entity type",
            "example": "file"
          },
          "role": {
            "type": "string",
            "enum": [
              "owner",
              "editor",
              "viewer"
            ],
            "description": "Filter collections by user role (only search collections where user has this role)",
            "example": "owner"
          },
          "include_public": {
            "type": "boolean",
            "default": false,
            "description": "Include results from public-domain namespace (default: false)",
            "example": false
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 20,
            "description": "Maximum number of results to return (default: 20, max: 100)",
            "example": 50
          },
          "expand": {
            "type": "string",
            "enum": [
              "preview",
              "full",
              "none"
            ],
            "description": "Entity expansion mode. Default: \"preview\" for lightweight previews, \"full\" for complete manifests, \"none\" for no expansion.",
            "example": "preview"
          }
        },
        "required": [
          "query"
        ]
      },
      "CollectionResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EntityResponse"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "collection"
                ]
              }
            }
          }
        ]
      },
      "CreateCollectionRequest": {
        "type": "object",
        "properties": {
          "note": {
            "type": "string",
            "description": "Optional note describing this change",
            "example": "Added Chapter 42: The Whiteness of the Whale"
          },
          "id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Custom entity ID (generated if not provided)"
          },
          "label": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "description": "Collection display name",
            "example": "The Pequod's Archive"
          },
          "description": {
            "type": "string",
            "maxLength": 2000,
            "description": "Collection description",
            "example": "Documents and manuscripts related to the voyage of the Pequod"
          },
          "display_image_url": {
            "type": "string",
            "format": "uri",
            "description": "URL for collection display image"
          },
          "use_roles_default": {
            "type": "boolean",
            "nullable": true,
            "default": true,
            "description": "Whether to merge with default roles (true) or use only provided roles (false). Public role with *:view is always ensured."
          },
          "roles": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Role definitions. When use_roles_default is true (default), these merge with defaults. When false, these replace defaults entirely.",
            "example": {
              "public": [
                "*:view",
                "*:invoke"
              ]
            }
          },
          "properties": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Additional properties to store"
          },
          "relationships": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "predicate": {
                  "type": "string",
                  "minLength": 1
                },
                "peer": {
                  "type": "string",
                  "minLength": 1
                },
                "peer_type": {
                  "type": "string"
                },
                "peer_label": {
                  "type": "string"
                },
                "properties": {
                  "type": "object",
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              },
              "required": [
                "predicate",
                "peer"
              ],
              "description": "Entity relationship",
              "example": {
                "predicate": "crew",
                "peer": "01KDETYWYWM0MJVKM8DK3AEXPY",
                "peer_type": "collection"
              }
            },
            "description": "Initial relationships"
          }
        },
        "required": [
          "label"
        ]
      },
      "CollectionUpdateResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CollectionResponse"
          },
          {
            "type": "object",
            "properties": {
              "prev_cid": {
                "type": "string",
                "minLength": 1,
                "description": "Previous version CID",
                "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
              }
            },
            "required": [
              "prev_cid"
            ]
          }
        ]
      },
      "CASErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "enum": [
              "Conflict: entity was modified"
            ]
          },
          "details": {
            "type": "object",
            "properties": {
              "expected": {
                "type": "string",
                "description": "Expected tip CID"
              },
              "actual": {
                "type": "string",
                "description": "Actual current tip CID"
              }
            },
            "required": [
              "expected",
              "actual"
            ]
          }
        },
        "required": [
          "error",
          "details"
        ]
      },
      "UpdateCollectionRequest": {
        "type": "object",
        "properties": {
          "expect_tip": {
            "type": "string",
            "minLength": 1,
            "description": "Current tip CID for CAS validation. Request fails with 409 if this does not match.",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "note": {
            "type": "string",
            "description": "Optional note describing this change",
            "example": "Added Chapter 42: The Whiteness of the Whale"
          },
          "properties": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Properties to add or update (deep merged)"
          },
          "properties_remove": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Top-level property keys to remove",
                "example": [
                  "deprecated_field",
                  "old_field"
                ]
              },
              {
                "type": "object",
                "additionalProperties": {
                  "nullable": true
                },
                "description": "Nested removal structure. Each key navigates into a nested object; leaf arrays specify keys to delete at that level.",
                "example": {
                  "settings": {
                    "notifications": [
                      "email",
                      "slack"
                    ]
                  }
                }
              }
            ],
            "description": "Properties to remove. Use string[] for top-level keys (e.g., [\"old_field\"]), or nested objects for deep removal (e.g., { config: { options: [\"debug\"] } }). Dot notation like \"config.options.debug\" is NOT supported."
          },
          "relationships_add": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "predicate": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Relationship predicate (e.g., \"admin\", \"contains\", \"collection\")",
                  "example": "admin"
                },
                "peer": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Target entity ID",
                  "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
                },
                "peer_type": {
                  "type": "string",
                  "description": "Target entity type hint",
                  "example": "user"
                },
                "peer_label": {
                  "type": "string",
                  "description": "Target entity label hint",
                  "example": "Captain Ahab"
                },
                "properties": {
                  "type": "object",
                  "additionalProperties": {
                    "nullable": true
                  },
                  "description": "Properties to add/update on this relationship (deep merged if relationship exists)",
                  "example": {
                    "expires_at": "2025-12-31T00:00:00Z"
                  }
                },
                "properties_remove": {
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      }
                    }
                  ],
                  "description": "Properties to remove from this relationship (string array or nested object)"
                }
              },
              "required": [
                "predicate",
                "peer"
              ],
              "description": "Relationship to add or update (upsert semantics)"
            },
            "description": "Relationships to add or update (upsert semantics)"
          },
          "relationships_remove": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "predicate": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Relationship predicate",
                  "example": "viewer"
                },
                "peer": {
                  "type": "string",
                  "description": "Target entity ID. If omitted, removes ALL relationships with this predicate.",
                  "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
                }
              },
              "required": [
                "predicate"
              ],
              "description": "Relationship to remove"
            },
            "description": "Relationships to remove"
          },
          "label": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "description": "Updated collection display name"
          },
          "description": {
            "type": "string",
            "maxLength": 2000,
            "description": "Updated collection description"
          },
          "display_image_url": {
            "type": "string",
            "format": "uri",
            "description": "Updated display image URL"
          }
        },
        "required": [
          "expect_tip"
        ]
      },
      "RoleResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Entity ID (ULID format)",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          },
          "cid": {
            "type": "string",
            "minLength": 1,
            "description": "Content Identifier (CID) - content-addressed hash",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "prev_cid": {
            "type": "string",
            "minLength": 1,
            "description": "Content Identifier (CID) - content-addressed hash",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "ver": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Entity version number",
            "example": 1
          },
          "roles": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Role definitions mapping role names to action arrays",
            "example": {
              "captain": [
                "*:view",
                "*:update",
                "*:create",
                "collection:manage"
              ],
              "harpooner": [
                "*:view",
                "*:update",
                "*:create"
              ],
              "crew": [
                "*:view",
                "entity:create"
              ],
              "public": [
                "entity:view",
                "collection:view"
              ]
            }
          }
        },
        "required": [
          "id",
          "cid",
          "prev_cid",
          "ver",
          "roles"
        ]
      },
      "AddRoleRequest": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "description": "Name of the new role",
            "example": "harpooner"
          },
          "actions": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            },
            "minItems": 1,
            "description": "Actions this role can perform",
            "example": [
              "entity:view",
              "entity:create",
              "entity:update"
            ]
          }
        },
        "required": [
          "role",
          "actions"
        ]
      },
      "UpdateRoleRequest": {
        "type": "object",
        "properties": {
          "actions": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            },
            "minItems": 1,
            "description": "Updated actions for this role",
            "example": [
              "entity:view",
              "entity:create",
              "entity:update",
              "entity:delete"
            ]
          }
        },
        "required": [
          "actions"
        ]
      },
      "CollectionMember": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$"
          },
          "role": {
            "type": "string"
          },
          "userLabel": {
            "type": "string"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp when this membership expires (omitted for permanent)"
          },
          "granted_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp when this membership was granted"
          },
          "granted_by": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "User who granted this membership"
          },
          "is_expired": {
            "type": "boolean",
            "description": "Whether this membership has expired"
          }
        },
        "required": [
          "userId",
          "role",
          "is_expired"
        ]
      },
      "CollectionGroup": {
        "type": "object",
        "properties": {
          "groupId": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$"
          },
          "role": {
            "type": "string"
          },
          "groupLabel": {
            "type": "string"
          }
        },
        "required": [
          "groupId",
          "role"
        ]
      },
      "CollectionWildcard": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string"
          }
        },
        "required": [
          "role"
        ]
      },
      "MembersResponse": {
        "type": "object",
        "properties": {
          "collection_id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$"
          },
          "members": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CollectionMember"
            }
          },
          "groups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CollectionGroup"
            }
          },
          "wildcards": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CollectionWildcard"
            }
          }
        },
        "required": [
          "collection_id",
          "members",
          "groups",
          "wildcards"
        ]
      },
      "MemberAssignResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Entity ID (ULID format)",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          },
          "cid": {
            "type": "string",
            "minLength": 1,
            "description": "Content Identifier (CID) - content-addressed hash",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "prev_cid": {
            "type": "string",
            "minLength": 1,
            "description": "Content Identifier (CID) - content-addressed hash",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "ver": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Entity version number",
            "example": 1
          },
          "member_added": {
            "type": "object",
            "properties": {
              "user_id": {
                "type": "string",
                "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$"
              },
              "role": {
                "type": "string"
              },
              "expires_at": {
                "type": "string",
                "format": "date-time",
                "description": "ISO 8601 timestamp when this role expires (omitted for permanent)",
                "example": "2025-01-15T00:00:00.000Z"
              },
              "granted_at": {
                "type": "string",
                "format": "date-time",
                "description": "ISO 8601 timestamp when this role was granted",
                "example": "2025-01-01T12:00:00.000Z"
              },
              "granted_by": {
                "type": "string",
                "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
                "description": "User who granted this role"
              }
            },
            "required": [
              "user_id",
              "role",
              "granted_at",
              "granted_by"
            ]
          }
        },
        "required": [
          "id",
          "cid",
          "prev_cid",
          "ver",
          "member_added"
        ]
      },
      "AssignRoleRequest": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "User entity ID to assign the role to",
            "example": "01JQ3EQ3EG000000000000000"
          },
          "role": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "description": "Role name to assign",
            "example": "harpooner"
          },
          "expires_in": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Seconds until this role assignment expires (omit for permanent access)",
            "example": 86400
          }
        },
        "required": [
          "user_id",
          "role"
        ]
      },
      "MemberRemoveResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Entity ID (ULID format)",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          },
          "cid": {
            "type": "string",
            "minLength": 1,
            "description": "Content Identifier (CID) - content-addressed hash",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "prev_cid": {
            "type": "string",
            "minLength": 1,
            "description": "Content Identifier (CID) - content-addressed hash",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "ver": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Entity version number",
            "example": 1
          },
          "member_removed": {
            "type": "object",
            "properties": {
              "user_id": {
                "type": "string",
                "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$"
              },
              "role": {
                "type": "string"
              }
            },
            "required": [
              "user_id",
              "role"
            ]
          }
        },
        "required": [
          "id",
          "cid",
          "prev_cid",
          "ver",
          "member_removed"
        ]
      },
      "SetRootEntityResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CollectionUpdateResponse"
          },
          {
            "type": "object",
            "properties": {
              "root_entity_id": {
                "type": "string",
                "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
                "description": "ID of the entity that was set as root"
              }
            },
            "required": [
              "root_entity_id"
            ]
          }
        ]
      },
      "SetRootEntityRequest": {
        "type": "object",
        "properties": {
          "expect_tip": {
            "type": "string",
            "minLength": 1,
            "description": "Current tip CID for CAS validation. Request fails with 409 if this does not match.",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "entity_id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Entity ID to set as the root of this collection. Entity must already have a collection relationship pointing to this collection.",
            "example": "01JQ3EQ3EG000000000000000"
          }
        },
        "required": [
          "expect_tip",
          "entity_id"
        ]
      },
      "CollectionEntitySummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Entity ID"
          },
          "type": {
            "type": "string",
            "description": "Entity type",
            "example": "document"
          },
          "label": {
            "type": "string",
            "description": "Entity display label (from GraphDB, may be stale)",
            "example": "My Document"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the entity was created"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the entity was last updated (from GraphDB)"
          },
          "preview": {
            "allOf": [
              {
                "$ref": "#/components/schemas/EntityPreview"
              },
              {
                "description": "Fresh entity preview (only present when ?expand=preview)"
              }
            ]
          },
          "entity": {
            "allOf": [
              {
                "$ref": "#/components/schemas/EntityResponse"
              },
              {
                "description": "Full entity manifest (only present when ?expand=full). WARNING: Large payloads with many entities."
              }
            ]
          }
        },
        "required": [
          "id",
          "type",
          "label",
          "created_at",
          "updated_at"
        ]
      },
      "CollectionEntitiesResponse": {
        "type": "object",
        "properties": {
          "collection_id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Collection ID"
          },
          "entities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CollectionEntitySummary"
            },
            "description": "Entities in this collection"
          },
          "pagination": {
            "type": "object",
            "properties": {
              "offset": {
                "type": "integer",
                "description": "Current offset"
              },
              "limit": {
                "type": "integer",
                "description": "Requested limit"
              },
              "count": {
                "type": "integer",
                "description": "Number of entities returned"
              },
              "has_more": {
                "type": "boolean",
                "description": "Whether more entities exist beyond this page"
              }
            },
            "required": [
              "offset",
              "limit",
              "count",
              "has_more"
            ],
            "description": "Pagination info"
          }
        },
        "required": [
          "collection_id",
          "entities",
          "pagination"
        ]
      },
      "EntityIndexEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Entity persistent identifier"
          },
          "type": {
            "type": "string",
            "description": "Entity type",
            "example": "person"
          },
          "label": {
            "type": "string",
            "nullable": true,
            "description": "Entity display label",
            "example": "Captain Ahab"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the entity was created"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the entity was last updated"
          }
        },
        "required": [
          "id",
          "type",
          "label",
          "created_at",
          "updated_at"
        ]
      },
      "CollectionEntityLookupResponse": {
        "type": "object",
        "properties": {
          "collection_id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Collection ID"
          },
          "entities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EntityIndexEntry"
            },
            "description": "Matching entities"
          },
          "count": {
            "type": "integer",
            "description": "Number of entities returned"
          }
        },
        "required": [
          "collection_id",
          "entities",
          "count"
        ]
      },
      "CollectionEntitySearchResult": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EntityIndexEntry"
          },
          {
            "type": "object",
            "properties": {
              "score": {
                "type": "number",
                "description": "Similarity score (only present for semantic search via similar_to)",
                "example": 0.87
              }
            }
          }
        ]
      },
      "CollectionEntitySearchResponse": {
        "type": "object",
        "properties": {
          "collection_id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Collection ID"
          },
          "query": {
            "type": "string",
            "description": "Original search query (for keyword search)"
          },
          "similar_to": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Source entity ID (for similarity search)"
          },
          "entities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CollectionEntitySearchResult"
            },
            "description": "Matching entities"
          },
          "count": {
            "type": "integer",
            "description": "Number of entities returned"
          }
        },
        "required": [
          "collection_id",
          "entities",
          "count"
        ]
      },
      "EntityCreatedResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Entity ID (ULID format)",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          },
          "cid": {
            "type": "string",
            "minLength": 1,
            "description": "Content Identifier (CID) - content-addressed hash",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "type": {
            "type": "string",
            "example": "collection"
          },
          "properties": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "example": {
              "label": "The Pequod's Archive",
              "description": "A collection of whaling documents"
            }
          },
          "relationships": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "predicate": {
                  "type": "string",
                  "minLength": 1
                },
                "peer": {
                  "type": "string",
                  "minLength": 1
                },
                "peer_type": {
                  "type": "string"
                },
                "peer_label": {
                  "type": "string"
                },
                "properties": {
                  "type": "object",
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              },
              "required": [
                "predicate",
                "peer"
              ],
              "description": "Entity relationship",
              "example": {
                "predicate": "crew",
                "peer": "01KDETYWYWM0MJVKM8DK3AEXPY",
                "peer_type": "collection"
              }
            }
          },
          "ver": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Entity version number",
            "example": 1
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 datetime",
            "example": "2025-12-26T12:00:00.000Z"
          },
          "ts": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Unix timestamp in milliseconds",
            "example": 1735214400000
          },
          "edited_by": {
            "type": "object",
            "properties": {
              "user_id": {
                "type": "string",
                "minLength": 1
              },
              "user_label": {
                "type": "string",
                "description": "Display name of the user/agent (populated during expansion)",
                "example": "Captain Ahab"
              },
              "method": {
                "type": "string",
                "enum": [
                  "manual",
                  "ai_generated",
                  "system",
                  "import"
                ]
              },
              "on_behalf_of": {
                "type": "string"
              },
              "on_behalf_of_label": {
                "type": "string",
                "description": "Display name of the on_behalf_of user/agent (populated during expansion)",
                "example": "Research Assistant"
              }
            },
            "required": [
              "user_id",
              "method"
            ],
            "description": "Audit trail for edits. Label fields are populated when ?expand=relationships is used.",
            "example": {
              "user_id": "01JCAPTAINAHAB000000000000",
              "user_label": "Captain Ahab",
              "method": "manual"
            }
          },
          "prev_cid": {
            "type": "string",
            "minLength": 1,
            "description": "Previous version CID (present on updates)",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          }
        },
        "required": [
          "id",
          "cid",
          "type",
          "properties",
          "relationships",
          "ver",
          "created_at",
          "ts",
          "edited_by"
        ]
      },
      "CreateEntityRequest": {
        "type": "object",
        "properties": {
          "note": {
            "type": "string",
            "description": "Optional note describing this change",
            "example": "Added Chapter 42: The Whiteness of the Whale"
          },
          "id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Custom entity ID (generated if not provided)",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          },
          "type": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "description": "Entity type identifier",
            "example": "document"
          },
          "properties": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Entity properties (type-specific). Text properties may contain inline entity references using the arke: URI scheme (e.g., [Label](arke:01JENTITY123...)) for domain-agnostic linking.",
            "example": {
              "label": "Chapter 1: Loomings",
              "author": "Herman Melville"
            }
          },
          "relationships": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "predicate": {
                  "type": "string",
                  "minLength": 1
                },
                "peer": {
                  "type": "string",
                  "minLength": 1
                },
                "peer_type": {
                  "type": "string"
                },
                "peer_label": {
                  "type": "string"
                },
                "properties": {
                  "type": "object",
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              },
              "required": [
                "predicate",
                "peer"
              ],
              "description": "Entity relationship",
              "example": {
                "predicate": "crew",
                "peer": "01KDETYWYWM0MJVKM8DK3AEXPY",
                "peer_type": "collection"
              }
            },
            "description": "Entity relationships"
          },
          "collection": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Parent collection ID (creates collection relationship)",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          },
          "sync_index": {
            "type": "boolean",
            "nullable": true,
            "default": false,
            "description": "Wait for collection index update before returning. Use when checking for duplicates immediately after creation. Adds ~1-5ms latency per collection."
          }
        },
        "required": [
          "type"
        ]
      },
      "BatchCreateSuccess": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "index": {
            "type": "integer"
          },
          "id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Entity ID (ULID format)",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          },
          "cid": {
            "type": "string",
            "minLength": 1,
            "description": "Content Identifier (CID) - content-addressed hash",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "type": {
            "type": "string"
          },
          "ver": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Entity version number",
            "example": 1
          }
        },
        "required": [
          "success",
          "index",
          "id",
          "cid",
          "type",
          "ver"
        ]
      },
      "BatchCreateFailure": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "index": {
            "type": "integer"
          },
          "error": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        },
        "required": [
          "success",
          "index",
          "error",
          "code"
        ]
      },
      "BatchCreateEntityResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/BatchCreateSuccess"
                },
                {
                  "$ref": "#/components/schemas/BatchCreateFailure"
                }
              ]
            }
          },
          "summary": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "succeeded": {
                "type": "integer"
              },
              "failed": {
                "type": "integer"
              }
            },
            "required": [
              "total",
              "succeeded",
              "failed"
            ]
          }
        },
        "required": [
          "results",
          "summary"
        ]
      },
      "BatchCreateEntityItem": {
        "type": "object",
        "properties": {
          "note": {
            "type": "string",
            "description": "Optional note describing this change",
            "example": "Added Chapter 42: The Whiteness of the Whale"
          },
          "type": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "description": "Entity type identifier"
          },
          "properties": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Entity properties"
          },
          "relationships": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "predicate": {
                  "type": "string",
                  "minLength": 1
                },
                "peer": {
                  "type": "string",
                  "minLength": 1
                },
                "peer_type": {
                  "type": "string"
                },
                "peer_label": {
                  "type": "string"
                },
                "properties": {
                  "type": "object",
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              },
              "required": [
                "predicate",
                "peer"
              ],
              "description": "Entity relationship",
              "example": {
                "predicate": "crew",
                "peer": "01KDETYWYWM0MJVKM8DK3AEXPY",
                "peer_type": "collection"
              }
            },
            "description": "Entity relationships"
          },
          "collection": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Parent collection ID (creates collection relationship)",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          }
        },
        "required": [
          "type"
        ]
      },
      "BatchCreateEntityRequest": {
        "type": "object",
        "properties": {
          "entities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BatchCreateEntityItem"
            },
            "minItems": 1,
            "maxItems": 100,
            "description": "Array of entities to create (1-100)"
          },
          "default_collection": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Default collection for entities that do not specify one",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          }
        },
        "required": [
          "entities"
        ]
      },
      "BatchGetResponse": {
        "type": "object",
        "properties": {
          "entities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EntityResponse"
            },
            "description": "Entities that were found and accessible"
          },
          "not_found": {
            "type": "array",
            "items": {
              "type": "string",
              "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
              "description": "Entity ID (ULID format)",
              "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
            },
            "description": "IDs that were not found or not accessible"
          }
        },
        "required": [
          "entities",
          "not_found"
        ]
      },
      "BatchGetRequest": {
        "type": "object",
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "string",
              "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
              "description": "Entity ID (ULID format)",
              "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
            },
            "minItems": 1,
            "maxItems": 100,
            "description": "Entity IDs to fetch (max 100)",
            "example": [
              "01JENTITY123456789012345",
              "01JENTITY234567890123456"
            ]
          }
        },
        "required": [
          "ids"
        ]
      },
      "TipResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Entity ID (ULID format)",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          },
          "cid": {
            "type": "string",
            "minLength": 1,
            "description": "Content Identifier (CID) - content-addressed hash",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          }
        },
        "required": [
          "id",
          "cid"
        ]
      },
      "EntityUpdatedResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EntityResponse"
          },
          {
            "type": "object",
            "properties": {
              "prev_cid": {
                "type": "string",
                "minLength": 1,
                "description": "Previous version CID",
                "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
              }
            },
            "required": [
              "prev_cid"
            ]
          }
        ]
      },
      "UpdateEntityRequest": {
        "type": "object",
        "properties": {
          "expect_tip": {
            "type": "string",
            "minLength": 1,
            "description": "Current tip CID for CAS validation. Request fails with 409 if this does not match.",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "note": {
            "type": "string",
            "description": "Optional note describing this change",
            "example": "Added Chapter 42: The Whiteness of the Whale"
          },
          "properties": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Properties to add or update (deep merged)"
          },
          "properties_remove": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Top-level property keys to remove",
                "example": [
                  "deprecated_field",
                  "old_field"
                ]
              },
              {
                "type": "object",
                "additionalProperties": {
                  "nullable": true
                },
                "description": "Nested removal structure. Each key navigates into a nested object; leaf arrays specify keys to delete at that level.",
                "example": {
                  "settings": {
                    "notifications": [
                      "email",
                      "slack"
                    ]
                  }
                }
              }
            ],
            "description": "Properties to remove. Use string[] for top-level keys (e.g., [\"old_field\"]), or nested objects for deep removal (e.g., { config: { options: [\"debug\"] } }). Dot notation like \"config.options.debug\" is NOT supported."
          },
          "relationships_add": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "predicate": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Relationship predicate (e.g., \"admin\", \"contains\", \"collection\")",
                  "example": "admin"
                },
                "peer": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Target entity ID",
                  "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
                },
                "peer_type": {
                  "type": "string",
                  "description": "Target entity type hint",
                  "example": "user"
                },
                "peer_label": {
                  "type": "string",
                  "description": "Target entity label hint",
                  "example": "Captain Ahab"
                },
                "properties": {
                  "type": "object",
                  "additionalProperties": {
                    "nullable": true
                  },
                  "description": "Properties to add/update on this relationship (deep merged if relationship exists)",
                  "example": {
                    "expires_at": "2025-12-31T00:00:00Z"
                  }
                },
                "properties_remove": {
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      }
                    }
                  ],
                  "description": "Properties to remove from this relationship (string array or nested object)"
                }
              },
              "required": [
                "predicate",
                "peer"
              ],
              "description": "Relationship to add or update (upsert semantics)"
            },
            "description": "Relationships to add or update (upsert semantics)"
          },
          "relationships_remove": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "predicate": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Relationship predicate",
                  "example": "viewer"
                },
                "peer": {
                  "type": "string",
                  "description": "Target entity ID. If omitted, removes ALL relationships with this predicate.",
                  "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
                }
              },
              "required": [
                "predicate"
              ],
              "description": "Relationship to remove"
            },
            "description": "Relationships to remove"
          },
          "sync_index": {
            "type": "boolean",
            "nullable": true,
            "default": false,
            "description": "Wait for collection index update before returning. Use when checking index immediately after update."
          }
        },
        "required": [
          "expect_tip"
        ]
      },
      "EntityDeletedResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Entity ID (ULID format)",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          },
          "cid": {
            "type": "string",
            "minLength": 1,
            "description": "Content Identifier (CID) - content-addressed hash",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO timestamp when the entity was deleted"
          },
          "ver": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Entity version number",
            "example": 1
          },
          "prev_cid": {
            "type": "string",
            "minLength": 1,
            "description": "Content Identifier (CID) - content-addressed hash",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          }
        },
        "required": [
          "id",
          "cid",
          "deleted_at",
          "ver",
          "prev_cid"
        ]
      },
      "DeleteEntityRequest": {
        "type": "object",
        "properties": {
          "expect_tip": {
            "type": "string",
            "minLength": 1,
            "description": "Current tip CID for CAS validation. Request fails with 409 if this does not match.",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "note": {
            "type": "string",
            "description": "Optional note describing this change",
            "example": "Added Chapter 42: The Whiteness of the Whale"
          },
          "reason": {
            "type": "string",
            "maxLength": 500,
            "description": "Reason for deleting the entity",
            "example": "Duplicate entry"
          },
          "sync_index": {
            "type": "boolean",
            "nullable": true,
            "default": false,
            "description": "Wait for collection index removal before returning. Use when checking index immediately after deletion."
          }
        },
        "required": [
          "expect_tip"
        ]
      },
      "CascadeDeletedEntity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Entity ID (ULID format)",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          },
          "cid": {
            "type": "string",
            "minLength": 1,
            "description": "Content Identifier (CID) - content-addressed hash",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "type": {
            "type": "string",
            "description": "Entity type",
            "example": "file"
          },
          "depth": {
            "type": "integer",
            "description": "Depth from root entity at which this entity was found",
            "example": 1
          }
        },
        "required": [
          "id",
          "cid",
          "type",
          "depth"
        ]
      },
      "CascadeSkippedEntity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Entity ID (ULID format)",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          },
          "type": {
            "type": "string",
            "description": "Entity type",
            "example": "file"
          },
          "reason": {
            "type": "string",
            "enum": [
              "not_in_collection",
              "already_deleted",
              "edited_by_mismatch",
              "cas_conflict"
            ],
            "description": "Reason an entity was skipped during cascade delete"
          }
        },
        "required": [
          "id",
          "type",
          "reason"
        ]
      },
      "CascadeDeleteResponse": {
        "type": "object",
        "properties": {
          "root": {
            "allOf": [
              {
                "$ref": "#/components/schemas/EntityDeletedResponse"
              },
              {
                "description": "Deletion result for the root entity"
              }
            ]
          },
          "deleted": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CascadeDeletedEntity"
            },
            "description": "Entities successfully deleted (ordered by depth, deepest first)"
          },
          "skipped": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CascadeSkippedEntity"
            },
            "description": "Entities skipped during traversal with reasons"
          },
          "summary": {
            "type": "object",
            "properties": {
              "total_traversed": {
                "type": "integer",
                "description": "Total entities visited during BFS traversal"
              },
              "total_deleted": {
                "type": "integer",
                "description": "Total entities successfully deleted (excluding root)"
              },
              "total_skipped": {
                "type": "integer",
                "description": "Total entities skipped during traversal"
              },
              "max_depth_reached": {
                "type": "integer",
                "description": "Maximum depth reached during traversal"
              }
            },
            "required": [
              "total_traversed",
              "total_deleted",
              "total_skipped",
              "max_depth_reached"
            ],
            "description": "Summary statistics for the cascade delete operation"
          }
        },
        "required": [
          "root",
          "deleted",
          "skipped",
          "summary"
        ]
      },
      "CascadeDeleteRequest": {
        "type": "object",
        "properties": {
          "expect_tip": {
            "type": "string",
            "minLength": 1,
            "description": "Current tip CID for CAS validation. Request fails with 409 if this does not match.",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "note": {
            "type": "string",
            "description": "Optional note describing this change",
            "example": "Added Chapter 42: The Whiteness of the Whale"
          },
          "collection_id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Collection to scope the cascade delete. Only entities in this collection will be deleted. Permission check is performed on this collection.",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          },
          "cascade_predicates": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            },
            "minItems": 1,
            "description": "Predicate patterns to follow during cascade traversal. Supports wildcards:\n- `\"child\"` - exact match only\n- `\"has_*\"` - matches has_document, has_image, etc.\n- `\"*_copy\"` - matches file_copy, document_copy, etc.\n- `\"*\"` - matches ALL predicates\n\n**Important:** The `collection` predicate NEVER cascades, even if `\"*\"` is specified. This protects the collection structure from accidental deletion.",
            "example": [
              "child",
              "has_*"
            ]
          },
          "edited_by_filter": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Only delete entities where edited_by.user_id matches this PI. Useful for cleaning up entities created by a specific agent.",
            "example": "01KAGENTXXXXXXXXXXXXXXXX"
          },
          "max_depth": {
            "type": "integer",
            "minimum": 1,
            "maximum": 20,
            "default": 10,
            "description": "Maximum relationship depth to traverse (default: 10, max: 20)",
            "example": 10
          },
          "reason": {
            "type": "string",
            "maxLength": 500,
            "description": "Reason for deleting the entities (applied to all deleted entities)",
            "example": "Cleanup after agent task"
          }
        },
        "required": [
          "expect_tip",
          "collection_id",
          "cascade_predicates"
        ]
      },
      "EntityUpdateResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EntityResponse"
          },
          {
            "type": "object",
            "properties": {
              "prev_cid": {
                "type": "string",
                "minLength": 1,
                "description": "Previous version CID",
                "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
              }
            },
            "required": [
              "prev_cid"
            ]
          }
        ]
      },
      "EntityRestoredResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EntityUpdateResponse"
          },
          {
            "type": "object",
            "properties": {
              "restored_from_ver": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true,
                "description": "The version number that was restored from",
                "example": 1
              }
            },
            "required": [
              "restored_from_ver"
            ]
          }
        ]
      },
      "RestoreEntityRequest": {
        "type": "object",
        "properties": {
          "expect_tip": {
            "type": "string",
            "minLength": 1,
            "description": "Current tip CID for CAS validation. Request fails with 409 if this does not match.",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "note": {
            "type": "string",
            "description": "Optional note describing this change",
            "example": "Added Chapter 42: The Whiteness of the Whale"
          }
        },
        "required": [
          "expect_tip"
        ]
      },
      "EntityCollectionResponse": {
        "type": "object",
        "properties": {
          "collection_id": {
            "type": "string",
            "nullable": true,
            "description": "The collection ID this entity belongs to, or null if not in any collection",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          }
        },
        "required": [
          "collection_id"
        ]
      },
      "TreeNode": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Entity ID (ULID format)",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          },
          "label": {
            "type": "string",
            "description": "Entity label"
          },
          "type": {
            "type": "string",
            "description": "Entity type"
          },
          "depth": {
            "type": "integer",
            "description": "Depth in tree (0 = root)"
          },
          "children": {
            "type": "array",
            "description": "Child nodes (recursive TreeNode array)",
            "items": {
              "$ref": "#/components/schemas/TreeNode"
            }
          }
        },
        "required": [
          "id",
          "label",
          "type",
          "depth",
          "children"
        ],
        "description": "Root node with nested children"
      },
      "TreeResponse": {
        "type": "object",
        "properties": {
          "root": {
            "$ref": "#/components/schemas/TreeNode"
          },
          "total_nodes": {
            "type": "integer",
            "description": "Total number of nodes in the tree"
          },
          "truncated": {
            "type": "boolean",
            "description": "Whether results were truncated due to limit"
          }
        },
        "required": [
          "root",
          "total_nodes",
          "truncated"
        ]
      },
      "VersionMeta": {
        "type": "object",
        "nullable": true,
        "properties": {
          "cid": {
            "type": "string",
            "minLength": 1,
            "description": "Content Identifier (CID) - content-addressed hash",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "ver": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Entity version number",
            "example": 1
          },
          "ts": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 datetime",
            "example": "2025-12-26T12:00:00.000Z"
          }
        },
        "required": [
          "cid",
          "ver",
          "ts"
        ],
        "description": "Metadata about the \"from\" version (null for version 1)"
      },
      "PropertyChange": {
        "type": "object",
        "properties": {
          "from": {
            "nullable": true,
            "description": "Previous value"
          },
          "to": {
            "nullable": true,
            "description": "New value"
          }
        }
      },
      "PropertiesChanges": {
        "type": "object",
        "properties": {
          "added": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Properties that were added",
            "example": {
              "email": "new@example.com"
            }
          },
          "removed": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Properties that were removed (includes old values)",
            "example": {
              "deprecated_field": "old value"
            }
          },
          "changed": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/PropertyChange"
            },
            "description": "Properties that changed",
            "example": {
              "name": {
                "from": "Old Name",
                "to": "New Name"
              }
            }
          }
        },
        "required": [
          "added",
          "removed",
          "changed"
        ]
      },
      "RelationshipChange": {
        "type": "object",
        "properties": {
          "predicate": {
            "type": "string",
            "minLength": 1
          },
          "peer": {
            "type": "string",
            "minLength": 1
          },
          "peer_type": {
            "type": "string"
          },
          "peer_label": {
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/PropertyChange"
          }
        },
        "required": [
          "predicate",
          "peer",
          "properties"
        ]
      },
      "RelationshipsChanges": {
        "type": "object",
        "properties": {
          "added": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "predicate": {
                  "type": "string",
                  "minLength": 1
                },
                "peer": {
                  "type": "string",
                  "minLength": 1
                },
                "peer_type": {
                  "type": "string"
                },
                "peer_label": {
                  "type": "string"
                },
                "properties": {
                  "type": "object",
[...]
