{
  "openapi": "3.1.0",
  "info": {
    "title": "Arke v1 API",
    "version": "1.0.0",
    "description": "Entity management API with content-addressed versioning and permissions."
  },
  "servers": [
    {
      "url": "https://arke-v1.arke.institute",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Authentication and registration"
    },
    {
      "name": "Users",
      "description": "User profile management"
    },
    {
      "name": "Collections",
      "description": "Collection and permission management"
    },
    {
      "name": "Entities",
      "description": "Generic entity CRUD"
    },
    {
      "name": "Relationships",
      "description": "Entity relationship management"
    },
    {
      "name": "Files",
      "description": "File storage with versioning"
    },
    {
      "name": "Folders",
      "description": "Folder hierarchy management"
    },
    {
      "name": "Permissions",
      "description": "Permission system metadata and introspection"
    },
    {
      "name": "Agents",
      "description": "Agent management and invocation"
    },
    {
      "name": "Jobs",
      "description": "Job collection status and monitoring"
    },
    {
      "name": "Events",
      "description": "Entity change event stream"
    },
    {
      "name": "Graph",
      "description": "Graph traversal and path-finding"
    },
    {
      "name": "Query",
      "description": "Argo DSL query engine"
    },
    {
      "name": "Search",
      "description": "Cross-collection semantic search"
    },
    {
      "name": "Documentation",
      "description": "API documentation and introspection"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Supabase JWT token"
      },
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API Key authentication. Format: `ApiKey ak_xxx` (agent) or `ApiKey uk_xxx` (user)"
      }
    },
    "parameters": {
      "X-Arke-Network": {
        "name": "X-Arke-Network",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string",
          "enum": [
            "main",
            "test"
          ],
          "default": "main"
        },
        "description": "Target network. Use `test` for isolated test data with II-prefixed IDs."
      },
      "X-On-Behalf-Of": {
        "name": "X-On-Behalf-Of",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "User entity ID for service accounts acting on behalf of a user. Only valid with `role: service` authentication."
      }
    },
    "schemas": {
      "RegisterUser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "example": "01J1SHMAE10000000000000000"
          },
          "cid": {
            "type": "string",
            "minLength": 1,
            "description": "Content Identifier (CID) - content-addressed hash",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "properties": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "example": {
              "label": "Ishmael",
              "name": "Ishmael"
            }
          },
          "ver": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Entity version number",
            "example": 1
          }
        },
        "required": [
          "id",
          "cid",
          "properties",
          "ver"
        ]
      },
      "RegisterResponse": {
        "type": "object",
        "properties": {
          "created": {
            "type": "boolean",
            "description": "True if user was created, false if already registered",
            "example": true
          },
          "user": {
            "$ref": "#/components/schemas/RegisterUser"
          }
        },
        "required": [
          "created",
          "user"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message",
            "example": "Not found"
          },
          "details": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Additional error details"
          }
        },
        "required": [
          "error"
        ]
      },
      "EntityResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Entity ID (ULID format)",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          },
          "cid": {
            "type": "string",
            "minLength": 1,
            "description": "Content Identifier (CID) - content-addressed hash",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "type": {
            "type": "string",
            "example": "collection"
          },
          "properties": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "example": {
              "label": "The Pequod's Archive",
              "description": "A collection of whaling documents"
            }
          },
          "relationships": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "predicate": {
                  "type": "string",
                  "minLength": 1
                },
                "peer": {
                  "type": "string",
                  "minLength": 1
                },
                "peer_type": {
                  "type": "string"
                },
                "peer_label": {
                  "type": "string"
                },
                "properties": {
                  "type": "object",
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              },
              "required": [
                "predicate",
                "peer"
              ],
              "description": "Entity relationship",
              "example": {
                "predicate": "crew",
                "peer": "01KDETYWYWM0MJVKM8DK3AEXPY",
                "peer_type": "collection"
              }
            }
          },
          "ver": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Entity version number",
            "example": 1
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 datetime",
            "example": "2025-12-26T12:00:00.000Z"
          },
          "ts": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Unix timestamp in milliseconds",
            "example": 1735214400000
          },
          "edited_by": {
            "type": "object",
            "properties": {
              "user_id": {
                "type": "string",
                "minLength": 1
              },
              "method": {
                "type": "string",
                "enum": [
                  "manual",
                  "ai_generated",
                  "system",
                  "import"
                ]
              },
              "on_behalf_of": {
                "type": "string"
              }
            },
            "required": [
              "user_id",
              "method"
            ],
            "description": "Audit trail for edits",
            "example": {
              "user_id": "01JCAPTAINAHAB000000000000",
              "method": "manual"
            }
          },
          "prev_cid": {
            "type": "string",
            "minLength": 1,
            "description": "Previous version CID (present on updates)",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          }
        },
        "required": [
          "id",
          "cid",
          "type",
          "properties",
          "relationships",
          "ver",
          "created_at",
          "ts",
          "edited_by"
        ]
      },
      "UserResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EntityResponse"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "user"
                ]
              }
            }
          }
        ]
      },
      "UserUpdateResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/UserResponse"
          },
          {
            "type": "object",
            "properties": {
              "prev_cid": {
                "type": "string",
                "minLength": 1,
                "description": "Previous version CID",
                "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
              }
            },
            "required": [
              "prev_cid"
            ]
          }
        ]
      },
      "ValidationErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Validation failed"
          },
          "details": {
            "type": "object",
            "properties": {
              "issues": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "path": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          }
                        ]
                      }
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "path",
                    "message"
                  ]
                }
              }
            },
            "required": [
              "issues"
            ]
          }
        },
        "required": [
          "error"
        ]
      },
      "CASErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "enum": [
              "Conflict: entity was modified"
            ]
          },
          "details": {
            "type": "object",
            "properties": {
              "expected": {
                "type": "string",
                "description": "Expected tip CID"
              },
              "actual": {
                "type": "string",
                "description": "Actual current tip CID"
              }
            },
            "required": [
              "expected",
              "actual"
            ]
          }
        },
        "required": [
          "error",
          "details"
        ]
      },
      "UserUpdateRequest": {
        "type": "object",
        "properties": {
          "expect_tip": {
            "type": "string",
            "minLength": 1,
            "description": "Current tip CID for CAS validation. Request fails with 409 if this does not match.",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "note": {
            "type": "string",
            "description": "Optional note describing this change",
            "example": "Added Chapter 42: The Whiteness of the Whale"
          },
          "properties": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Properties to add or update (deep merged)"
          },
          "properties_remove": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Top-level property keys to remove",
                "example": [
                  "deprecated_field",
                  "old_field"
                ]
              },
              {
                "type": "object",
                "additionalProperties": {
                  "nullable": true
                },
                "description": "Nested removal structure. Each key navigates into a nested object; leaf arrays specify keys to delete at that level.",
                "example": {
                  "settings": {
                    "notifications": [
                      "email",
                      "slack"
                    ]
                  }
                }
              }
            ],
            "description": "Properties to remove. Use string[] for top-level keys (e.g., [\"old_field\"]), or nested objects for deep removal (e.g., { config: { options: [\"debug\"] } }). Dot notation like \"config.options.debug\" is NOT supported."
          },
          "relationships_add": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "predicate": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Relationship predicate (e.g., \"admin\", \"contains\", \"collection\")",
                  "example": "admin"
                },
                "peer": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Target entity ID",
                  "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
                },
                "peer_type": {
                  "type": "string",
                  "description": "Target entity type hint",
                  "example": "user"
                },
                "peer_label": {
                  "type": "string",
                  "description": "Target entity label hint",
                  "example": "Captain Ahab"
                },
                "properties": {
                  "type": "object",
                  "additionalProperties": {
                    "nullable": true
                  },
                  "description": "Properties to add/update on this relationship (deep merged if relationship exists)",
                  "example": {
                    "expires_at": "2025-12-31T00:00:00Z"
                  }
                },
                "properties_remove": {
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      }
                    }
                  ],
                  "description": "Properties to remove from this relationship (string array or nested object)"
                }
              },
              "required": [
                "predicate",
                "peer"
              ],
              "description": "Relationship to add or update (upsert semantics)"
            },
            "description": "Relationships to add or update (upsert semantics)"
          },
          "relationships_remove": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "predicate": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Relationship predicate",
                  "example": "viewer"
                },
                "peer": {
                  "type": "string",
                  "description": "Target entity ID. If omitted, removes ALL relationships with this predicate.",
                  "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
                }
              },
              "required": [
                "predicate"
              ],
              "description": "Relationship to remove"
            },
            "description": "Relationships to remove"
          },
          "label": {
            "type": "string",
            "minLength": 1,
            "description": "Updated display name",
            "example": "Captain Ahab"
          }
        },
        "required": [
          "expect_tip"
        ]
      },
      "CreateApiKeyResponse": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "Full API key - store this securely, it will not be shown again",
            "example": "uk_xKj92mNpQrStUvWxYz1234567890abcdef1234567890abcdef12345678"
          },
          "key_prefix": {
            "type": "string",
            "description": "Key prefix for identification",
            "example": "uk_xKj9"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the key expires",
            "example": "2026-03-28T00:00:00.000Z"
          }
        },
        "required": [
          "key",
          "key_prefix",
          "expires_at"
        ]
      },
      "CreateApiKeyRequest": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "maxLength": 100,
            "description": "Human-readable label for the key",
            "example": "Production"
          },
          "expires_in": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "maximum": 31536000,
            "description": "Time until expiration in seconds (default: 90 days, max: 365 days)",
            "example": 7776000
          }
        }
      },
      "ApiKeyInfo": {
        "type": "object",
        "properties": {
          "key_prefix": {
            "type": "string",
            "description": "Key prefix for identification",
            "example": "uk_xKj9"
          },
          "label": {
            "type": "string",
            "nullable": true,
            "description": "Human-readable label",
            "example": "Production"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the key was created",
            "example": "2025-12-28T00:00:00.000Z"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the key expires",
            "example": "2026-03-28T00:00:00.000Z"
          },
          "last_used_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "description": "When the key was last used (null if never used)",
            "example": "2025-12-28T10:30:00.000Z"
          }
        },
        "required": [
          "key_prefix",
          "label",
          "created_at",
          "expires_at",
          "last_used_at"
        ]
      },
      "ListApiKeysResponse": {
        "type": "object",
        "properties": {
          "keys": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiKeyInfo"
            },
            "description": "List of API keys"
          }
        },
        "required": [
          "keys"
        ]
      },
      "UserCollectionItem": {
        "type": "object",
        "properties": {
          "pi": {
            "type": "string",
            "description": "Collection persistent identifier",
            "example": "01JCOLLECTION123456789AB"
          },
          "label": {
            "type": "string",
            "description": "Collection label/name",
            "example": "My Research Collection"
          },
          "predicate": {
            "type": "string",
            "description": "Role predicate indicating user's relationship to collection",
            "example": "owner"
          },
          "created_at": {
            "type": "string",
            "description": "When the collection was created",
            "example": "2026-01-12T00:00:00.000Z"
          }
        },
        "required": [
          "pi",
          "label",
          "predicate",
          "created_at"
        ]
      },
      "UserCollectionsResponse": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string",
            "description": "User persistent identifier",
            "example": "01JUSER123456789ABCDEFGH"
          },
          "collections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserCollectionItem"
            },
            "description": "Collections the user has access to"
          },
          "pagination": {
            "type": "object",
            "properties": {
              "offset": {
                "type": "number",
                "description": "Current offset"
              },
              "limit": {
                "type": "number",
                "description": "Results per page"
              },
              "count": {
                "type": "number",
                "description": "Number of results returned"
              },
              "has_more": {
                "type": "boolean",
                "description": "Whether more results exist"
              }
            },
            "required": [
              "offset",
              "limit",
              "count",
              "has_more"
            ],
            "description": "Pagination metadata"
          }
        },
        "required": [
          "user_id",
          "collections",
          "pagination"
        ]
      },
      "SearchResultItem": {
        "type": "object",
        "properties": {
          "pi": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Entity persistent identifier",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          },
          "type": {
            "type": "string",
            "description": "Entity type",
            "example": "file"
          },
          "label": {
            "type": "string",
            "description": "Entity label/name",
            "example": "Research Paper.pdf"
          },
          "collection_pi": {
            "type": "string",
            "nullable": true,
            "description": "Collection this entity belongs to (null for public-domain)",
            "example": "01JCOLLECTION123456789AB"
          },
          "score": {
            "type": "number",
            "description": "Relevance score (0-1, higher is better)",
            "example": 0.87
          },
          "created_at": {
            "type": "string",
            "description": "When the entity was created",
            "example": "2026-01-12T00:00:00.000Z"
          },
          "updated_at": {
            "type": "string",
            "description": "When the entity was last updated",
            "example": "2026-01-12T10:30:00.000Z"
          }
        },
        "required": [
          "pi",
          "type",
          "label",
          "collection_pi",
          "score"
        ]
      },
      "SearchMetadata": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string",
            "description": "Original search query"
          },
          "collections_queried": {
            "type": "integer",
            "description": "Number of collections searched"
          },
          "collections_total": {
            "type": "integer",
            "description": "Total collections user has access to"
          },
          "include_public": {
            "type": "boolean",
            "description": "Whether public-domain was included"
          },
          "execution_time_ms": {
            "type": "number",
            "description": "Total execution time in milliseconds"
          },
          "result_count": {
            "type": "integer",
            "description": "Number of results returned"
          }
        },
        "required": [
          "query",
          "collections_queried",
          "collections_total",
          "include_public",
          "execution_time_ms",
          "result_count"
        ],
        "description": "Search metadata and statistics"
      },
      "CrossCollectionSearchResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchResultItem"
            },
            "description": "Search results ranked by relevance"
          },
          "metadata": {
            "$ref": "#/components/schemas/SearchMetadata"
          }
        },
        "required": [
          "results",
          "metadata"
        ]
      },
      "CrossCollectionSearchRequest": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500,
            "description": "Search query text for semantic matching",
            "example": "medical research"
          },
          "type": {
            "type": "string",
            "description": "Filter results to specific entity type",
            "example": "file"
          },
          "role": {
            "type": "string",
            "enum": [
              "owner",
              "editor",
              "viewer"
            ],
            "description": "Filter collections by user role (only search collections where user has this role)",
            "example": "owner"
          },
          "include_public": {
            "type": "boolean",
            "default": false,
            "description": "Include results from public-domain namespace (default: false)",
            "example": false
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 20,
            "description": "Maximum number of results to return (default: 20, max: 100)",
            "example": 50
          }
        },
        "required": [
          "query"
        ]
      },
      "CollectionResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EntityResponse"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "collection"
                ]
              }
            }
          }
        ]
      },
      "CreateCollectionRequest": {
        "type": "object",
        "properties": {
          "note": {
            "type": "string",
            "description": "Optional note describing this change",
            "example": "Added Chapter 42: The Whiteness of the Whale"
          },
          "id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Custom entity ID (generated if not provided)"
          },
          "label": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "description": "Collection display name",
            "example": "The Pequod's Archive"
          },
          "description": {
            "type": "string",
            "maxLength": 2000,
            "description": "Collection description",
            "example": "Documents and manuscripts related to the voyage of the Pequod"
          },
          "display_image_url": {
            "type": "string",
            "format": "uri",
            "description": "URL for collection display image"
          },
          "roles": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Custom role definitions (defaults to owner/editor/viewer/public)",
            "example": {
              "captain": [
                "*:view",
                "*:update",
                "*:create",
                "collection:manage"
              ],
              "harpooner": [
                "*:view",
                "*:update",
                "*:create"
              ],
              "crew": [
                "*:view",
                "entity:create"
              ],
              "public": [
                "entity:view",
                "collection:view"
              ]
            }
          },
          "properties": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Additional properties to store"
          },
          "relationships": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "predicate": {
                  "type": "string",
                  "minLength": 1
                },
                "peer": {
                  "type": "string",
                  "minLength": 1
                },
                "peer_type": {
                  "type": "string"
                },
                "peer_label": {
                  "type": "string"
                },
                "properties": {
                  "type": "object",
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              },
              "required": [
                "predicate",
                "peer"
              ],
              "description": "Entity relationship",
              "example": {
                "predicate": "crew",
                "peer": "01KDETYWYWM0MJVKM8DK3AEXPY",
                "peer_type": "collection"
              }
            },
            "description": "Initial relationships"
          }
        },
        "required": [
          "label"
        ]
      },
      "CollectionUpdateResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CollectionResponse"
          },
          {
            "type": "object",
            "properties": {
              "prev_cid": {
                "type": "string",
                "minLength": 1,
                "description": "Previous version CID",
                "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
              }
            },
            "required": [
              "prev_cid"
            ]
          }
        ]
      },
      "UpdateCollectionRequest": {
        "type": "object",
        "properties": {
          "expect_tip": {
            "type": "string",
            "minLength": 1,
            "description": "Current tip CID for CAS validation. Request fails with 409 if this does not match.",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "note": {
            "type": "string",
            "description": "Optional note describing this change",
            "example": "Added Chapter 42: The Whiteness of the Whale"
          },
          "properties": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Properties to add or update (deep merged)"
          },
          "properties_remove": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Top-level property keys to remove",
                "example": [
                  "deprecated_field",
                  "old_field"
                ]
              },
              {
                "type": "object",
                "additionalProperties": {
                  "nullable": true
                },
                "description": "Nested removal structure. Each key navigates into a nested object; leaf arrays specify keys to delete at that level.",
                "example": {
                  "settings": {
                    "notifications": [
                      "email",
                      "slack"
                    ]
                  }
                }
              }
            ],
            "description": "Properties to remove. Use string[] for top-level keys (e.g., [\"old_field\"]), or nested objects for deep removal (e.g., { config: { options: [\"debug\"] } }). Dot notation like \"config.options.debug\" is NOT supported."
          },
          "relationships_add": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "predicate": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Relationship predicate (e.g., \"admin\", \"contains\", \"collection\")",
                  "example": "admin"
                },
                "peer": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Target entity ID",
                  "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
                },
                "peer_type": {
                  "type": "string",
                  "description": "Target entity type hint",
                  "example": "user"
                },
                "peer_label": {
                  "type": "string",
                  "description": "Target entity label hint",
                  "example": "Captain Ahab"
                },
                "properties": {
                  "type": "object",
                  "additionalProperties": {
                    "nullable": true
                  },
                  "description": "Properties to add/update on this relationship (deep merged if relationship exists)",
                  "example": {
                    "expires_at": "2025-12-31T00:00:00Z"
                  }
                },
                "properties_remove": {
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      }
                    }
                  ],
                  "description": "Properties to remove from this relationship (string array or nested object)"
                }
              },
              "required": [
                "predicate",
                "peer"
              ],
              "description": "Relationship to add or update (upsert semantics)"
            },
            "description": "Relationships to add or update (upsert semantics)"
          },
          "relationships_remove": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "predicate": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Relationship predicate",
                  "example": "viewer"
                },
                "peer": {
                  "type": "string",
                  "description": "Target entity ID. If omitted, removes ALL relationships with this predicate.",
                  "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
                }
              },
              "required": [
                "predicate"
              ],
              "description": "Relationship to remove"
            },
            "description": "Relationships to remove"
          },
          "label": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "description": "Updated collection display name"
          },
          "description": {
            "type": "string",
            "maxLength": 2000,
            "description": "Updated collection description"
          },
          "display_image_url": {
            "type": "string",
            "format": "uri",
            "description": "Updated display image URL"
          }
        },
        "required": [
          "expect_tip"
        ]
      },
      "RoleResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Entity ID (ULID format)",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          },
          "cid": {
            "type": "string",
            "minLength": 1,
            "description": "Content Identifier (CID) - content-addressed hash",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "prev_cid": {
            "type": "string",
            "minLength": 1,
            "description": "Content Identifier (CID) - content-addressed hash",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "ver": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Entity version number",
            "example": 1
          },
          "roles": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Role definitions mapping role names to action arrays",
            "example": {
              "captain": [
                "*:view",
                "*:update",
                "*:create",
                "collection:manage"
              ],
              "harpooner": [
                "*:view",
                "*:update",
                "*:create"
              ],
              "crew": [
                "*:view",
                "entity:create"
              ],
              "public": [
                "entity:view",
                "collection:view"
              ]
            }
          }
        },
        "required": [
          "id",
          "cid",
          "prev_cid",
          "ver",
          "roles"
        ]
      },
      "AddRoleRequest": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "description": "Name of the new role",
            "example": "harpooner"
          },
          "actions": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            },
            "minItems": 1,
            "description": "Actions this role can perform",
            "example": [
              "entity:view",
              "entity:create",
              "entity:update"
            ]
          }
        },
        "required": [
          "role",
          "actions"
        ]
      },
      "UpdateRoleRequest": {
        "type": "object",
        "properties": {
          "actions": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            },
            "minItems": 1,
            "description": "Updated actions for this role",
            "example": [
              "entity:view",
              "entity:create",
              "entity:update",
              "entity:delete"
            ]
          }
        },
        "required": [
          "actions"
        ]
      },
      "CollectionMember": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$"
          },
          "role": {
            "type": "string"
          },
          "userLabel": {
            "type": "string"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp when this membership expires (omitted for permanent)"
          },
          "granted_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp when this membership was granted"
          },
          "granted_by": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "User who granted this membership"
          },
          "is_expired": {
            "type": "boolean",
            "description": "Whether this membership has expired"
          }
        },
        "required": [
          "userId",
          "role",
          "is_expired"
        ]
      },
      "CollectionGroup": {
        "type": "object",
        "properties": {
          "groupId": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$"
          },
          "role": {
            "type": "string"
          },
          "groupLabel": {
            "type": "string"
          }
        },
        "required": [
          "groupId",
          "role"
        ]
      },
      "CollectionWildcard": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string"
          }
        },
        "required": [
          "role"
        ]
      },
      "MembersResponse": {
        "type": "object",
        "properties": {
          "collection_id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$"
          },
          "members": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CollectionMember"
            }
          },
          "groups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CollectionGroup"
            }
          },
          "wildcards": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CollectionWildcard"
            }
          }
        },
        "required": [
          "collection_id",
          "members",
          "groups",
          "wildcards"
        ]
      },
      "MemberAssignResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Entity ID (ULID format)",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          },
          "cid": {
            "type": "string",
            "minLength": 1,
            "description": "Content Identifier (CID) - content-addressed hash",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "prev_cid": {
            "type": "string",
            "minLength": 1,
            "description": "Content Identifier (CID) - content-addressed hash",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "ver": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Entity version number",
            "example": 1
          },
          "member_added": {
            "type": "object",
            "properties": {
              "user_id": {
                "type": "string",
                "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$"
              },
              "role": {
                "type": "string"
              },
              "expires_at": {
                "type": "string",
                "format": "date-time",
                "description": "ISO 8601 timestamp when this role expires (omitted for permanent)",
                "example": "2025-01-15T00:00:00.000Z"
              },
              "granted_at": {
                "type": "string",
                "format": "date-time",
                "description": "ISO 8601 timestamp when this role was granted",
                "example": "2025-01-01T12:00:00.000Z"
              },
              "granted_by": {
                "type": "string",
                "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
                "description": "User who granted this role"
              }
            },
            "required": [
              "user_id",
              "role",
              "granted_at",
              "granted_by"
            ]
          }
        },
        "required": [
          "id",
          "cid",
          "prev_cid",
          "ver",
          "member_added"
        ]
      },
      "AssignRoleRequest": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "User entity ID to assign the role to",
            "example": "01JQ3EQ3EG000000000000000"
          },
          "role": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "description": "Role name to assign",
            "example": "harpooner"
          },
          "expires_in": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Seconds until this role assignment expires (omit for permanent access)",
            "example": 86400
          }
        },
        "required": [
          "user_id",
          "role"
        ]
      },
      "MemberRemoveResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Entity ID (ULID format)",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          },
          "cid": {
            "type": "string",
            "minLength": 1,
            "description": "Content Identifier (CID) - content-addressed hash",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "prev_cid": {
            "type": "string",
            "minLength": 1,
            "description": "Content Identifier (CID) - content-addressed hash",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "ver": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Entity version number",
            "example": 1
          },
          "member_removed": {
            "type": "object",
            "properties": {
              "user_id": {
                "type": "string",
                "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$"
              },
              "role": {
                "type": "string"
              }
            },
            "required": [
              "user_id",
              "role"
            ]
          }
        },
        "required": [
          "id",
          "cid",
          "prev_cid",
          "ver",
          "member_removed"
        ]
      },
      "SetRootEntityResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CollectionUpdateResponse"
          },
          {
            "type": "object",
            "properties": {
              "root_entity_id": {
                "type": "string",
                "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
                "description": "ID of the entity that was set as root"
              }
            },
            "required": [
              "root_entity_id"
            ]
          }
        ]
      },
      "SetRootEntityRequest": {
        "type": "object",
        "properties": {
          "expect_tip": {
            "type": "string",
            "minLength": 1,
            "description": "Current tip CID for CAS validation. Request fails with 409 if this does not match.",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "entity_id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Entity ID to set as the root of this collection. Entity must already have a collection relationship pointing to this collection.",
            "example": "01JQ3EQ3EG000000000000000"
          }
        },
        "required": [
          "expect_tip",
          "entity_id"
        ]
      },
      "CollectionEntitySummary": {
        "type": "object",
        "properties": {
          "pi": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Entity persistent identifier"
          },
          "type": {
            "type": "string",
            "description": "Entity type",
            "example": "document"
          },
          "label": {
            "type": "string",
            "description": "Entity display label",
            "example": "My Document"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the entity was created"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the entity was last updated"
          }
        },
        "required": [
          "pi",
          "type",
          "label",
          "created_at",
          "updated_at"
        ]
      },
      "CollectionEntitiesResponse": {
        "type": "object",
        "properties": {
          "collection_id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Collection ID"
          },
          "entities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CollectionEntitySummary"
            },
            "description": "Entities in this collection"
          },
          "pagination": {
            "type": "object",
            "properties": {
              "offset": {
                "type": "integer",
                "description": "Current offset"
              },
              "limit": {
                "type": "integer",
                "description": "Requested limit"
              },
              "count": {
                "type": "integer",
                "description": "Number of entities returned"
              },
              "has_more": {
                "type": "boolean",
                "description": "Whether more entities exist beyond this page"
              }
            },
            "required": [
              "offset",
              "limit",
              "count",
              "has_more"
            ],
            "description": "Pagination info"
          }
        },
        "required": [
          "collection_id",
          "entities",
          "pagination"
        ]
      },
      "EntityCreatedResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Entity ID (ULID format)",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          },
          "cid": {
            "type": "string",
            "minLength": 1,
            "description": "Content Identifier (CID) - content-addressed hash",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "type": {
            "type": "string",
            "example": "collection"
          },
          "properties": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "example": {
              "label": "The Pequod's Archive",
              "description": "A collection of whaling documents"
            }
          },
          "relationships": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "predicate": {
                  "type": "string",
                  "minLength": 1
                },
                "peer": {
                  "type": "string",
                  "minLength": 1
                },
                "peer_type": {
                  "type": "string"
                },
                "peer_label": {
                  "type": "string"
                },
                "properties": {
                  "type": "object",
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              },
              "required": [
                "predicate",
                "peer"
              ],
              "description": "Entity relationship",
              "example": {
                "predicate": "crew",
                "peer": "01KDETYWYWM0MJVKM8DK3AEXPY",
                "peer_type": "collection"
              }
            }
          },
          "ver": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Entity version number",
            "example": 1
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 datetime",
            "example": "2025-12-26T12:00:00.000Z"
          },
          "ts": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Unix timestamp in milliseconds",
            "example": 1735214400000
          },
          "edited_by": {
            "type": "object",
            "properties": {
              "user_id": {
                "type": "string",
                "minLength": 1
              },
              "method": {
                "type": "string",
                "enum": [
                  "manual",
                  "ai_generated",
                  "system",
                  "import"
                ]
              },
              "on_behalf_of": {
                "type": "string"
              }
            },
            "required": [
              "user_id",
              "method"
            ],
            "description": "Audit trail for edits",
            "example": {
              "user_id": "01JCAPTAINAHAB000000000000",
              "method": "manual"
            }
          },
          "prev_cid": {
            "type": "string",
            "minLength": 1,
            "description": "Previous version CID (present on updates)",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          }
        },
        "required": [
          "id",
          "cid",
          "type",
          "properties",
          "relationships",
          "ver",
          "created_at",
          "ts",
          "edited_by"
        ]
      },
      "CreateEntityRequest": {
        "type": "object",
        "properties": {
          "note": {
            "type": "string",
            "description": "Optional note describing this change",
            "example": "Added Chapter 42: The Whiteness of the Whale"
          },
          "id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Custom entity ID (generated if not provided)",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          },
          "type": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "description": "Entity type identifier",
            "example": "document"
          },
          "properties": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Entity properties (type-specific). Text properties may contain inline entity references using the arke: URI scheme (e.g., [Label](arke:01JENTITY123...)) for domain-agnostic linking.",
            "example": {
              "label": "Chapter 1: Loomings",
              "author": "Herman Melville"
            }
          },
          "relationships": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "predicate": {
                  "type": "string",
                  "minLength": 1
                },
                "peer": {
                  "type": "string",
                  "minLength": 1
                },
                "peer_type": {
                  "type": "string"
                },
                "peer_label": {
                  "type": "string"
                },
                "properties": {
                  "type": "object",
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              },
              "required": [
                "predicate",
                "peer"
              ],
              "description": "Entity relationship",
              "example": {
                "predicate": "crew",
                "peer": "01KDETYWYWM0MJVKM8DK3AEXPY",
                "peer_type": "collection"
              }
            },
            "description": "Entity relationships"
          },
          "collection": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Parent collection ID (creates collection relationship)",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          }
        },
        "required": [
          "type"
        ]
      },
      "EntityPreview": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Entity ID (persistent identifier)",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          },
          "type": {
            "type": "string",
            "description": "Entity type",
            "example": "document"
          },
          "label": {
            "type": "string",
            "description": "Entity label (from properties.label, filename, or name)",
            "example": "Research Paper.pdf"
          },
          "collection_pi": {
            "type": "string",
            "description": "Collection ID this entity belongs to",
            "example": "01JCOLLECTION123456789ABCD"
          },
          "description_preview": {
            "type": "string",
            "description": "Truncated description (max 200 chars + \"...\")",
            "example": "This document contains research findings from the 2025 study on entity management systems. It covers key architectural decisions and performance benchmarks..."
          },
          "text_preview": {
            "type": "string",
            "description": "Truncated text content (max 200 chars + \"...\")",
            "example": "Introduction: The rise of decentralized entity management systems has created new challenges for data integrity and consistency. This paper explores..."
          },
          "created_at": {
            "type": "string",
            "description": "Entity creation timestamp (ISO 8601)",
            "example": "2025-01-15T10:00:00.000Z"
          },
          "updated_at": {
            "type": "string",
            "description": "Last update timestamp (ISO 8601)",
            "example": "2025-01-20T14:30:00.000Z"
          }
        },
        "required": [
          "id",
          "type",
          "label",
          "created_at",
          "updated_at"
        ]
      },
      "TipResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Entity ID (ULID format)",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          },
          "cid": {
            "type": "string",
            "minLength": 1,
            "description": "Content Identifier (CID) - content-addressed hash",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          }
        },
        "required": [
          "id",
          "cid"
        ]
      },
      "EntityUpdatedResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EntityResponse"
          },
          {
            "type": "object",
            "properties": {
              "prev_cid": {
                "type": "string",
                "minLength": 1,
                "description": "Previous version CID",
                "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
              }
            },
            "required": [
              "prev_cid"
            ]
          }
        ]
      },
      "UpdateEntityRequest": {
        "type": "object",
        "properties": {
          "expect_tip": {
            "type": "string",
            "minLength": 1,
            "description": "Current tip CID for CAS validation. Request fails with 409 if this does not match.",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "note": {
            "type": "string",
            "description": "Optional note describing this change",
            "example": "Added Chapter 42: The Whiteness of the Whale"
          },
          "properties": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Properties to add or update (deep merged)"
          },
          "properties_remove": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Top-level property keys to remove",
                "example": [
                  "deprecated_field",
                  "old_field"
                ]
              },
              {
                "type": "object",
                "additionalProperties": {
                  "nullable": true
                },
                "description": "Nested removal structure. Each key navigates into a nested object; leaf arrays specify keys to delete at that level.",
                "example": {
                  "settings": {
                    "notifications": [
                      "email",
                      "slack"
                    ]
                  }
                }
              }
            ],
            "description": "Properties to remove. Use string[] for top-level keys (e.g., [\"old_field\"]), or nested objects for deep removal (e.g., { config: { options: [\"debug\"] } }). Dot notation like \"config.options.debug\" is NOT supported."
          },
          "relationships_add": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "predicate": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Relationship predicate (e.g., \"admin\", \"contains\", \"collection\")",
                  "example": "admin"
                },
                "peer": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Target entity ID",
                  "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
                },
                "peer_type": {
                  "type": "string",
                  "description": "Target entity type hint",
                  "example": "user"
                },
                "peer_label": {
                  "type": "string",
                  "description": "Target entity label hint",
                  "example": "Captain Ahab"
                },
                "properties": {
                  "type": "object",
                  "additionalProperties": {
                    "nullable": true
                  },
                  "description": "Properties to add/update on this relationship (deep merged if relationship exists)",
                  "example": {
                    "expires_at": "2025-12-31T00:00:00Z"
                  }
                },
                "properties_remove": {
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      }
                    }
                  ],
                  "description": "Properties to remove from this relationship (string array or nested object)"
                }
              },
              "required": [
                "predicate",
                "peer"
              ],
              "description": "Relationship to add or update (upsert semantics)"
            },
            "description": "Relationships to add or update (upsert semantics)"
          },
          "relationships_remove": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "predicate": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Relationship predicate",
                  "example": "viewer"
                },
                "peer": {
                  "type": "string",
                  "description": "Target entity ID. If omitted, removes ALL relationships with this predicate.",
                  "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
                }
              },
              "required": [
                "predicate"
              ],
              "description": "Relationship to remove"
            },
            "description": "Relationships to remove"
          }
        },
        "required": [
          "expect_tip"
        ]
      },
      "EntityDeletedResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Entity ID (ULID format)",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          },
          "cid": {
            "type": "string",
            "minLength": 1,
            "description": "Content Identifier (CID) - content-addressed hash",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO timestamp when the entity was deleted"
          },
          "ver": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Entity version number",
            "example": 1
          },
          "prev_cid": {
            "type": "string",
            "minLength": 1,
            "description": "Content Identifier (CID) - content-addressed hash",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          }
        },
        "required": [
          "id",
          "cid",
          "deleted_at",
          "ver",
          "prev_cid"
        ]
      },
      "DeleteEntityRequest": {
        "type": "object",
        "properties": {
          "expect_tip": {
            "type": "string",
            "minLength": 1,
            "description": "Current tip CID for CAS validation. Request fails with 409 if this does not match.",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "note": {
            "type": "string",
            "description": "Optional note describing this change",
            "example": "Added Chapter 42: The Whiteness of the Whale"
          },
          "reason": {
            "type": "string",
            "maxLength": 500,
            "description": "Reason for deleting the entity",
            "example": "Duplicate entry"
          }
        },
        "required": [
          "expect_tip"
        ]
      },
      "CascadeDeletedEntity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Entity ID (ULID format)",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          },
          "cid": {
            "type": "string",
            "minLength": 1,
            "description": "Content Identifier (CID) - content-addressed hash",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "type": {
            "type": "string",
            "description": "Entity type",
            "example": "file"
          },
          "depth": {
            "type": "integer",
            "description": "Depth from root entity at which this entity was found",
            "example": 1
          }
        },
        "required": [
          "id",
          "cid",
          "type",
          "depth"
        ]
      },
      "CascadeSkippedEntity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Entity ID (ULID format)",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          },
          "type": {
            "type": "string",
            "description": "Entity type",
            "example": "file"
          },
          "reason": {
            "type": "string",
            "enum": [
              "not_in_collection",
              "already_deleted",
              "edited_by_mismatch",
              "cas_conflict"
            ],
            "description": "Reason an entity was skipped during cascade delete"
          }
        },
        "required": [
          "id",
          "type",
          "reason"
        ]
      },
      "CascadeDeleteResponse": {
        "type": "object",
        "properties": {
          "root": {
            "allOf": [
              {
                "$ref": "#/components/schemas/EntityDeletedResponse"
              },
              {
                "description": "Deletion result for the root entity"
              }
            ]
          },
          "deleted": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CascadeDeletedEntity"
            },
            "description": "Entities successfully deleted (ordered by depth, deepest first)"
          },
          "skipped": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CascadeSkippedEntity"
            },
            "description": "Entities skipped during traversal with reasons"
          },
          "summary": {
            "type": "object",
            "properties": {
              "total_traversed": {
                "type": "integer",
                "description": "Total entities visited during BFS traversal"
              },
              "total_deleted": {
                "type": "integer",
                "description": "Total entities successfully deleted (excluding root)"
              },
              "total_skipped": {
                "type": "integer",
                "description": "Total entities skipped during traversal"
              },
              "max_depth_reached": {
                "type": "integer",
                "description": "Maximum depth reached during traversal"
              }
            },
            "required": [
              "total_traversed",
              "total_deleted",
              "total_skipped",
              "max_depth_reached"
            ],
            "description": "Summary statistics for the cascade delete operation"
          }
        },
        "required": [
          "root",
          "deleted",
          "skipped",
          "summary"
        ]
      },
      "CascadeDeleteRequest": {
        "type": "object",
        "properties": {
          "expect_tip": {
            "type": "string",
            "minLength": 1,
            "description": "Current tip CID for CAS validation. Request fails with 409 if this does not match.",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "note": {
            "type": "string",
            "description": "Optional note describing this change",
            "example": "Added Chapter 42: The Whiteness of the Whale"
          },
          "collection_id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Collection to scope the cascade delete. Only entities in this collection will be deleted. Permission check is performed on this collection.",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          },
          "cascade_predicates": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            },
            "minItems": 1,
            "description": "Predicate patterns to follow during cascade traversal. Supports wildcards:\n- `\"child\"` - exact match only\n- `\"has_*\"` - matches has_document, has_image, etc.\n- `\"*_copy\"` - matches file_copy, document_copy, etc.\n- `\"*\"` - matches ALL predicates\n\n**Important:** The `collection` predicate NEVER cascades, even if `\"*\"` is specified. This protects the collection structure from accidental deletion.",
            "example": [
              "child",
              "has_*"
            ]
          },
          "edited_by_filter": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Only delete entities where edited_by.user_id matches this PI. Useful for cleaning up entities created by a specific agent.",
            "example": "01KAGENTXXXXXXXXXXXXXXXX"
          },
          "max_depth": {
            "type": "integer",
            "minimum": 1,
            "maximum": 20,
            "default": 10,
            "description": "Maximum relationship depth to traverse (default: 10, max: 20)",
            "example": 10
          },
          "reason": {
            "type": "string",
            "maxLength": 500,
            "description": "Reason for deleting the entities (applied to all deleted entities)",
            "example": "Cleanup after agent task"
          }
        },
        "required": [
          "expect_tip",
          "collection_id",
          "cascade_predicates"
        ]
      },
      "EntityUpdateResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EntityResponse"
          },
          {
            "type": "object",
            "properties": {
              "prev_cid": {
                "type": "string",
                "minLength": 1,
                "description": "Previous version CID",
                "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
              }
            },
            "required": [
              "prev_cid"
            ]
          }
        ]
      },
      "EntityRestoredResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EntityUpdateResponse"
          },
          {
            "type": "object",
            "properties": {
              "restored_from_ver": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true,
                "description": "The version number that was restored from",
                "example": 1
              }
            },
            "required": [
              "restored_from_ver"
            ]
          }
        ]
      },
      "RestoreEntityRequest": {
        "type": "object",
        "properties": {
          "expect_tip": {
            "type": "string",
            "minLength": 1,
            "description": "Current tip CID for CAS validation. Request fails with 409 if this does not match.",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "note": {
            "type": "string",
            "description": "Optional note describing this change",
            "example": "Added Chapter 42: The Whiteness of the Whale"
          }
        },
        "required": [
          "expect_tip"
        ]
      },
      "EntityCollectionResponse": {
        "type": "object",
        "properties": {
          "collection_id": {
            "type": "string",
            "nullable": true,
            "description": "The collection ID this entity belongs to, or null if not in any collection",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          }
        },
        "required": [
          "collection_id"
        ]
      },
      "TreeNode": {
        "type": "object",
        "properties": {
          "pi": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Entity ID (ULID format)",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          },
          "label": {
            "type": "string",
            "description": "Entity label"
          },
          "type": {
            "type": "string",
            "description": "Entity type"
          },
          "depth": {
            "type": "integer",
            "description": "Depth in tree (0 = root)"
          },
          "children": {
            "type": "array",
            "description": "Child nodes (recursive TreeNode array)",
            "items": {
              "$ref": "#/components/schemas/TreeNode"
            }
          }
        },
        "required": [
          "pi",
          "label",
          "type",
          "depth",
          "children"
        ],
        "description": "Root node with nested children"
      },
      "TreeResponse": {
        "type": "object",
        "properties": {
          "root": {
            "$ref": "#/components/schemas/TreeNode"
          },
          "total_nodes": {
            "type": "integer",
            "description": "Total number of nodes in the tree"
          },
          "truncated": {
            "type": "boolean",
            "description": "Whether results were truncated due to limit"
          }
        },
        "required": [
          "root",
          "total_nodes",
          "truncated"
        ]
      },
      "VersionMeta": {
        "type": "object",
        "nullable": true,
        "properties": {
          "cid": {
            "type": "string",
            "minLength": 1,
            "description": "Content Identifier (CID) - content-addressed hash",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "ver": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Entity version number",
            "example": 1
          },
          "ts": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 datetime",
            "example": "2025-12-26T12:00:00.000Z"
          }
        },
        "required": [
          "cid",
          "ver",
          "ts"
        ],
        "description": "Metadata about the \"from\" version (null for version 1)"
      },
      "PropertyChange": {
        "type": "object",
        "properties": {
          "from": {
            "nullable": true,
            "description": "Previous value"
          },
          "to": {
            "nullable": true,
            "description": "New value"
          }
        }
      },
      "PropertiesChanges": {
        "type": "object",
        "properties": {
          "added": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Properties that were added",
            "example": {
              "email": "new@example.com"
            }
          },
          "removed": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Properties that were removed (includes old values)",
            "example": {
              "deprecated_field": "old value"
            }
          },
          "changed": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/PropertyChange"
            },
            "description": "Properties that changed",
            "example": {
              "name": {
                "from": "Old Name",
                "to": "New Name"
              }
            }
          }
        },
        "required": [
          "added",
          "removed",
          "changed"
        ]
      },
      "RelationshipChange": {
        "type": "object",
        "properties": {
          "predicate": {
            "type": "string",
            "minLength": 1
          },
          "peer": {
            "type": "string",
            "minLength": 1
          },
          "peer_type": {
            "type": "string"
          },
          "peer_label": {
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/PropertyChange"
          }
        },
        "required": [
          "predicate",
          "peer",
          "properties"
        ]
      },
      "RelationshipsChanges": {
        "type": "object",
        "properties": {
          "added": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "predicate": {
                  "type": "string",
                  "minLength": 1
                },
                "peer": {
                  "type": "string",
                  "minLength": 1
                },
                "peer_type": {
                  "type": "string"
                },
                "peer_label": {
                  "type": "string"
                },
                "properties": {
                  "type": "object",
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              },
              "required": [
                "predicate",
                "peer"
              ],
              "description": "Entity relationship",
              "example": {
                "predicate": "crew",
                "peer": "01KDETYWYWM0MJVKM8DK3AEXPY",
                "peer_type": "collection"
              }
            },
            "description": "Relationships that were added"
          },
          "removed": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "predicate": {
                  "type": "string",
                  "minLength": 1
                },
                "peer": {
                  "type": "string",
                  "minLength": 1
                },
                "peer_type": {
                  "type": "string"
                },
                "peer_label": {
                  "type": "string"
                },
                "properties": {
                  "type": "object",
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              },
              "required": [
                "predicate",
                "peer"
              ],
              "description": "Entity relationship",
              "example": {
                "predicate": "crew",
                "peer": "01KDETYWYWM0MJVKM8DK3AEXPY",
                "peer_type": "collection"
              }
            },
            "description": "Relationships that were removed"
          },
          "changed": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RelationshipChange"
            },
            "description": "Relationships with changed properties"
          }
        },
        "required": [
          "added",
          "removed",
          "changed"
        ]
      },
      "SemanticChanges": {
        "type": "object",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/PropertiesChanges"
          },
          "relationships": {
            "$ref": "#/components/schemas/RelationshipsChanges"
          }
        },
        "required": [
          "properties",
          "relationships"
        ]
      },
      "SemanticDiffResponse": {
        "type": "object",
        "properties": {
          "entity_id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Entity ID (ULID format)",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          },
          "from": {
            "$ref": "#/components/schemas/VersionMeta"
          },
          "to": {
            "$ref": "#/components/schemas/VersionMeta"
          },
          "format": {
            "type": "string",
            "enum": [
              "semantic"
            ]
          },
          "changes": {
            "$ref": "#/components/schemas/SemanticChanges"
          }
        },
        "required": [
          "entity_id",
          "from",
          "to",
          "format",
          "changes"
        ]
      },
      "PatchOperation": {
        "anyOf": [
          {
            "type": "object",
            "properties": {
              "op": {
                "type": "string",
                "enum": [
                  "add"
                ]
              },
              "path": {
                "type": "string"
              },
              "value": {
                "nullable": true
              }
            },
            "required": [
              "op",
              "path"
            ]
          },
          {
            "type": "object",
            "properties": {
              "op": {
                "type": "string",
                "enum": [
                  "remove"
                ]
              },
              "path": {
                "type": "string"
              }
            },
            "required": [
              "op",
              "path"
            ]
          },
          {
            "type": "object",
            "properties": {
              "op": {
                "type": "string",
                "enum": [
                  "replace"
                ]
              },
              "path": {
                "type": "string"
              },
              "value": {
                "nullable": true
              }
            },
            "required": [
              "op",
              "path"
            ]
          }
        ]
      },
      "PatchDiffResponse": {
        "type": "object",
        "properties": {
          "entity_id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Entity ID (ULID format)",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          },
          "from": {
            "$ref": "#/components/schemas/VersionMeta"
          },
          "to": {
            "$ref": "#/components/schemas/VersionMeta"
          },
          "format": {
            "type": "string",
            "enum": [
              "patch"
            ]
          },
          "patch": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PatchOperation"
            },
            "description": "RFC 6902 JSON Patch operations"
          }
        },
        "required": [
          "entity_id",
          "from",
          "to",
          "format",
          "patch"
        ]
      },
      "DiffResponse": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/SemanticDiffResponse"
          },
          {
            "$ref": "#/components/schemas/PatchDiffResponse"
          }
        ]
      },
      "PermissionResolution": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "collection",
              "self",
              "open_season"
            ],
            "description": "How permissions were resolved",
            "example": "collection"
          },
          "collection_id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Collection ID if permissions come from a collection role",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          },
          "role": {
            "type": "string",
            "description": "Role name in the collection",
            "example": "editor"
          }
        },
        "required": [
          "method"
        ],
        "description": "How permissions were resolved"
      },
      "EntityPermissionsResponse": {
        "type": "object",
        "properties": {
          "entity_id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "The entity ID",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          },
          "entity_type": {
            "type": "string",
            "description": "The entity type",
            "example": "file"
          },
          "allowed_actions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Actions the user can perform on this entity",
            "example": [
              "entity:view",
              "entity:update",
              "file:download"
            ]
          },
          "resolution": {
            "$ref": "#/components/schemas/PermissionResolution"
          }
        },
        "required": [
          "entity_id",
          "entity_type",
          "allowed_actions",
          "resolution"
        ]
      },
      "AddRelationshipResponse": {
        "type": "object",
        "properties": {
          "source": {
            "allOf": [
              {
                "$ref": "#/components/schemas/EntityResponse"
              },
              {
                "description": "Updated source entity"
              }
            ]
          },
          "target": {
            "allOf": [
              {
                "$ref": "#/components/schemas/EntityResponse"
              },
              {
                "description": "Updated target entity (present for bidirectional relationships)"
              }
            ]
          }
        },
        "required": [
          "source"
        ]
      },
      "AddRelationshipRequest": {
        "type": "object",
        "properties": {
          "note": {
            "type": "string",
            "description": "Optional note describing this change",
            "example": "Added Chapter 42: The Whiteness of the Whale"
          },
          "source_id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Source entity ID",
            "example": "01JFKY3XQWM0MJVKM8DK3AEXPY"
          },
          "target_id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Target entity ID",
            "example": "01JFKY3XQWM0MJVKM8DK3AEXQZ"
          },
          "source_predicate": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-z][a-z0-9_]*$",
            "description": "Predicate on source entity pointing to target",
            "example": "collection"
          },
          "target_predicate": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-z][a-z0-9_]*$",
            "description": "Predicate on target entity pointing to source. If provided, creates bidirectional relationship.",
            "example": "root"
          },
          "expect_source_tip": {
            "type": "string",
            "minLength": 1,
            "description": "Expected current tip CID of source entity",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "expect_target_tip": {
            "type": "string",
            "minLength": 1,
            "description": "Expected current tip CID of target entity. Required for bidirectional relationships if target is protected.",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          }
        },
        "required": [
          "source_id",
          "target_id",
          "source_predicate",
          "expect_source_tip"
        ]
      },
      "RemoveRelationshipResponse": {
        "type": "object",
        "properties": {
          "source": {
            "allOf": [
              {
                "$ref": "#/components/schemas/EntityResponse"
              },
              {
                "description": "Updated source entity"
              }
            ]
          },
          "target": {
            "allOf": [
              {
                "$ref": "#/components/schemas/EntityResponse"
              },
              {
                "description": "Updated target entity (present for bidirectional relationships)"
              }
            ]
          }
        },
        "required": [
          "source"
        ]
      },
      "RemoveRelationshipRequest": {
        "type": "object",
        "properties": {
          "note": {
            "type": "string",
            "description": "Optional note describing this change",
            "example": "Added Chapter 42: The Whiteness of the Whale"
          },
          "source_id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Source entity ID",
            "example": "01JFKY3XQWM0MJVKM8DK3AEXPY"
          },
          "target_id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Target entity ID (peer of the relationship to remove)",
            "example": "01JFKY3XQWM0MJVKM8DK3AEXQZ"
          },
          "source_predicate": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-z][a-z0-9_]*$",
            "description": "Predicate on source entity to remove",
            "example": "collection"
          },
          "target_predicate": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-z][a-z0-9_]*$",
            "description": "Predicate on target entity to remove. If provided, removes bidirectional relationship.",
            "example": "root"
          },
          "expect_source_tip": {
            "type": "string",
            "minLength": 1,
            "description": "Expected current tip CID of source entity",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "expect_target_tip": {
            "type": "string",
            "minLength": 1,
            "description": "Expected current tip CID of target entity. Required for bidirectional relationships.",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          }
        },
        "required": [
          "source_id",
          "target_id",
          "source_predicate",
          "expect_source_tip"
        ]
      },
      "ConnectResponse": {
        "type": "object",
        "properties": {
          "source": {
            "allOf": [
              {
                "$ref": "#/components/schemas/EntityResponse"
              },
              {
                "description": "Updated source entity with the new connection"
              }
            ]
          }
        },
        "required": [
          "source"
        ]
      },
      "ConnectRequest": {
        "type": "object",
        "properties": {
          "note": {
            "type": "string",
            "description": "Optional note describing this change",
            "example": "Added Chapter 42: The Whiteness of the Whale"
          },
          "source_id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Source entity ID (the entity you're connecting FROM)",
            "example": "01JFKY3XQWM0MJVKM8DK3AEXPY"
          },
          "target_id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Target entity ID (the entity you're connecting TO)",
            "example": "01JFKY3XQWM0MJVKM8DK3AEXQZ"
          },
          "expect_tip": {
            "type": "string",
            "minLength": 1,
            "description": "Expected current tip CID of source entity",
[...]
