{
  "openapi": "3.1.0",
  "info": {
    "title": "Arke v1 API",
    "version": "1.0.0",
    "description": "IPFS-backed entity management API with versioning and permissions."
  },
  "servers": [
    {
      "url": "https://arke-v1.arke.institute",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Authentication and registration"
    },
    {
      "name": "Users",
      "description": "User profile management"
    },
    {
      "name": "Collections",
      "description": "Collection and permission management"
    },
    {
      "name": "Entities",
      "description": "Generic entity CRUD"
    },
    {
      "name": "Relationships",
      "description": "Entity relationship management"
    },
    {
      "name": "Files",
      "description": "File storage with versioning"
    },
    {
      "name": "Folders",
      "description": "Folder hierarchy management"
    },
    {
      "name": "Permissions",
      "description": "Permission system metadata and introspection"
    },
    {
      "name": "Agents",
      "description": "Agent management and invocation"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Supabase JWT token"
      }
    },
    "schemas": {
      "RegisterUser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "example": "01J1SHMAE10000000000000000"
          },
          "cid": {
            "type": "string",
            "minLength": 1,
            "description": "IPFS Content Identifier (CID)",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "properties": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "example": {
              "label": "Ishmael",
              "name": "Ishmael"
            }
          },
          "ver": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Entity version number",
            "example": 1
          }
        },
        "required": [
          "id",
          "cid",
          "properties",
          "ver"
        ]
      },
      "RegisterResponse": {
        "type": "object",
        "properties": {
          "created": {
            "type": "boolean",
            "description": "True if user was created, false if already registered",
            "example": true
          },
          "user": {
            "$ref": "#/components/schemas/RegisterUser"
          }
        },
        "required": [
          "created",
          "user"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message",
            "example": "Not found"
          },
          "details": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Additional error details"
          }
        },
        "required": [
          "error"
        ]
      },
      "EntityResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Entity ID (ULID format)",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          },
          "cid": {
            "type": "string",
            "minLength": 1,
            "description": "IPFS Content Identifier (CID)",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "type": {
            "type": "string",
            "example": "collection"
          },
          "properties": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "example": {
              "label": "The Pequod's Archive",
              "description": "A collection of whaling documents"
            }
          },
          "relationships": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "predicate": {
                  "type": "string",
                  "minLength": 1
                },
                "peer": {
                  "type": "string",
                  "minLength": 1
                },
                "peer_type": {
                  "type": "string"
                },
                "peer_label": {
                  "type": "string"
                },
                "properties": {
                  "type": "object",
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              },
              "required": [
                "predicate",
                "peer"
              ],
              "description": "Entity relationship",
              "example": {
                "predicate": "crew",
                "peer": "01KDETYWYWM0MJVKM8DK3AEXPY",
                "peer_type": "collection"
              }
            }
          },
          "ver": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Entity version number",
            "example": 1
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 datetime",
            "example": "2025-12-26T12:00:00.000Z"
          },
          "ts": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Unix timestamp in milliseconds",
            "example": 1735214400000
          },
          "prev_cid": {
            "type": "string",
            "minLength": 1,
            "description": "Previous version CID (present on updates)",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          }
        },
        "required": [
          "id",
          "cid",
          "type",
          "properties",
          "relationships",
          "ver",
          "created_at",
          "ts"
        ]
      },
      "UserResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EntityResponse"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "user"
                ]
              }
            }
          }
        ]
      },
      "UserUpdateResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/UserResponse"
          },
          {
            "type": "object",
            "properties": {
              "prev_cid": {
                "type": "string",
                "minLength": 1,
                "description": "Previous version CID",
                "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
              }
            },
            "required": [
              "prev_cid"
            ]
          }
        ]
      },
      "ValidationErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Validation failed"
          },
          "details": {
            "type": "object",
            "properties": {
              "issues": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "path": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          }
                        ]
                      }
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "path",
                    "message"
                  ]
                }
              }
            },
            "required": [
              "issues"
            ]
          }
        },
        "required": [
          "error"
        ]
      },
      "CASErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "enum": [
              "Conflict: entity was modified"
            ]
          },
          "details": {
            "type": "object",
            "properties": {
              "expected": {
                "type": "string",
                "description": "Expected tip CID"
              },
              "actual": {
                "type": "string",
                "description": "Actual current tip CID"
              }
            },
            "required": [
              "expected",
              "actual"
            ]
          }
        },
        "required": [
          "error",
          "details"
        ]
      },
      "UserUpdateRequest": {
        "type": "object",
        "properties": {
          "expect_tip": {
            "type": "string",
            "minLength": 1,
            "description": "Current tip CID for CAS validation. Request fails with 409 if this does not match.",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "note": {
            "type": "string",
            "description": "Optional note describing this change",
            "example": "Added Chapter 42: The Whiteness of the Whale"
          },
          "label": {
            "type": "string",
            "minLength": 1,
            "description": "Updated display name",
            "example": "Captain Ahab"
          },
          "properties": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Properties to merge with existing (partial update)",
            "example": {
              "bio": "Commander of the Pequod, hunter of the white whale"
            }
          },
          "relationships_add": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "predicate": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Relationship predicate (e.g., \"admin\", \"contains\", \"collection\")",
                  "example": "admin"
                },
                "peer": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Target entity ID",
                  "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
                },
                "peer_type": {
                  "type": "string",
                  "description": "Target entity type hint",
                  "example": "user"
                },
                "peer_label": {
                  "type": "string",
                  "description": "Target entity label hint",
                  "example": "Captain Ahab"
                },
                "properties": {
                  "type": "object",
                  "additionalProperties": {
                    "nullable": true
                  },
                  "description": "Properties to add/update on this relationship (deep merged if relationship exists)",
                  "example": {
                    "expires_at": "2025-12-31T00:00:00Z"
                  }
                },
                "properties_remove": {
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      }
                    }
                  ],
                  "description": "Properties to remove from this relationship (string array or nested object)"
                }
              },
              "required": [
                "predicate",
                "peer"
              ],
              "description": "Relationship to add or update (upsert semantics)"
            },
            "description": "Relationships to add or update"
          },
          "relationships_remove": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "predicate": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Relationship predicate",
                  "example": "viewer"
                },
                "peer": {
                  "type": "string",
                  "description": "Target entity ID. If omitted, removes ALL relationships with this predicate.",
                  "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
                }
              },
              "required": [
                "predicate"
              ],
              "description": "Relationship to remove"
            },
            "description": "Relationships to remove"
          }
        },
        "required": [
          "expect_tip"
        ]
      },
      "CreateApiKeyResponse": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "Full API key - store this securely, it will not be shown again",
            "example": "uk_xKj92mNpQrStUvWxYz1234567890abcdef1234567890abcdef12345678"
          },
          "key_prefix": {
            "type": "string",
            "description": "Key prefix for identification",
            "example": "uk_xKj9"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the key expires",
            "example": "2026-03-28T00:00:00.000Z"
          }
        },
        "required": [
          "key",
          "key_prefix",
          "expires_at"
        ]
      },
      "CreateApiKeyRequest": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "maxLength": 100,
            "description": "Human-readable label for the key",
            "example": "Production"
          },
          "expires_in": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "maximum": 31536000,
            "description": "Time until expiration in seconds (default: 90 days, max: 365 days)",
            "example": 7776000
          }
        }
      },
      "ApiKeyInfo": {
        "type": "object",
        "properties": {
          "key_prefix": {
            "type": "string",
            "description": "Key prefix for identification",
            "example": "uk_xKj9"
          },
          "label": {
            "type": "string",
            "nullable": true,
            "description": "Human-readable label",
            "example": "Production"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the key was created",
            "example": "2025-12-28T00:00:00.000Z"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the key expires",
            "example": "2026-03-28T00:00:00.000Z"
          },
          "last_used_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "description": "When the key was last used (null if never used)",
            "example": "2025-12-28T10:30:00.000Z"
          }
        },
        "required": [
          "key_prefix",
          "label",
          "created_at",
          "expires_at",
          "last_used_at"
        ]
      },
      "ListApiKeysResponse": {
        "type": "object",
        "properties": {
          "keys": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiKeyInfo"
            },
            "description": "List of API keys"
          }
        },
        "required": [
          "keys"
        ]
      },
      "CollectionResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EntityResponse"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "collection"
                ]
              }
            }
          }
        ]
      },
      "CreateCollectionRequest": {
        "type": "object",
        "properties": {
          "note": {
            "type": "string",
            "description": "Optional note describing this change",
            "example": "Added Chapter 42: The Whiteness of the Whale"
          },
          "id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Custom entity ID (generated if not provided)"
          },
          "label": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "description": "Collection display name",
            "example": "The Pequod's Archive"
          },
          "description": {
            "type": "string",
            "maxLength": 2000,
            "description": "Collection description",
            "example": "Documents and manuscripts related to the voyage of the Pequod"
          },
          "display_image_url": {
            "type": "string",
            "format": "uri",
            "description": "URL for collection display image"
          },
          "roles": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Custom role definitions (defaults to owner/editor/viewer/public)",
            "example": {
              "captain": [
                "*:view",
                "*:update",
                "*:create",
                "collection:manage"
              ],
              "harpooner": [
                "*:view",
                "*:update",
                "*:create"
              ],
              "crew": [
                "*:view",
                "entity:create"
              ],
              "public": [
                "entity:view",
                "collection:view"
              ]
            }
          },
          "properties": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Additional properties to store"
          },
          "relationships": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "predicate": {
                  "type": "string",
                  "minLength": 1
                },
                "peer": {
                  "type": "string",
                  "minLength": 1
                },
                "peer_type": {
                  "type": "string"
                },
                "peer_label": {
                  "type": "string"
                },
                "properties": {
                  "type": "object",
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              },
              "required": [
                "predicate",
                "peer"
              ],
              "description": "Entity relationship",
              "example": {
                "predicate": "crew",
                "peer": "01KDETYWYWM0MJVKM8DK3AEXPY",
                "peer_type": "collection"
              }
            },
            "description": "Initial relationships"
          }
        },
        "required": [
          "label"
        ]
      },
      "CollectionUpdateResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CollectionResponse"
          },
          {
            "type": "object",
            "properties": {
              "prev_cid": {
                "type": "string",
                "minLength": 1,
                "description": "Previous version CID",
                "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
              }
            },
            "required": [
              "prev_cid"
            ]
          }
        ]
      },
      "UpdateCollectionRequest": {
        "type": "object",
        "properties": {
          "expect_tip": {
            "type": "string",
            "minLength": 1,
            "description": "Current tip CID for CAS validation. Request fails with 409 if this does not match.",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "note": {
            "type": "string",
            "description": "Optional note describing this change",
            "example": "Added Chapter 42: The Whiteness of the Whale"
          },
          "label": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "description": "Updated collection display name"
          },
          "description": {
            "type": "string",
            "maxLength": 2000,
            "description": "Updated collection description"
          },
          "display_image_url": {
            "type": "string",
            "format": "uri",
            "description": "Updated display image URL"
          },
          "properties": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Additional properties to merge"
          },
          "relationships_add": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "predicate": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Relationship predicate (e.g., \"admin\", \"contains\", \"collection\")",
                  "example": "admin"
                },
                "peer": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Target entity ID",
                  "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
                },
                "peer_type": {
                  "type": "string",
                  "description": "Target entity type hint",
                  "example": "user"
                },
                "peer_label": {
                  "type": "string",
                  "description": "Target entity label hint",
                  "example": "Captain Ahab"
                },
                "properties": {
                  "type": "object",
                  "additionalProperties": {
                    "nullable": true
                  },
                  "description": "Properties to add/update on this relationship (deep merged if relationship exists)",
                  "example": {
                    "expires_at": "2025-12-31T00:00:00Z"
                  }
                },
                "properties_remove": {
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      }
                    }
                  ],
                  "description": "Properties to remove from this relationship (string array or nested object)"
                }
              },
              "required": [
                "predicate",
                "peer"
              ],
              "description": "Relationship to add or update (upsert semantics)"
            },
            "description": "Relationships to add or update"
          },
          "relationships_remove": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "predicate": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Relationship predicate",
                  "example": "viewer"
                },
                "peer": {
                  "type": "string",
                  "description": "Target entity ID. If omitted, removes ALL relationships with this predicate.",
                  "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
                }
              },
              "required": [
                "predicate"
              ],
              "description": "Relationship to remove"
            },
            "description": "Relationships to remove"
          }
        },
        "required": [
          "expect_tip"
        ]
      },
      "RoleResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Entity ID (ULID format)",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          },
          "cid": {
            "type": "string",
            "minLength": 1,
            "description": "IPFS Content Identifier (CID)",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "prev_cid": {
            "type": "string",
            "minLength": 1,
            "description": "IPFS Content Identifier (CID)",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "ver": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Entity version number",
            "example": 1
          },
          "roles": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Role definitions mapping role names to action arrays",
            "example": {
              "captain": [
                "*:view",
                "*:update",
                "*:create",
                "collection:manage"
              ],
              "harpooner": [
                "*:view",
                "*:update",
                "*:create"
              ],
              "crew": [
                "*:view",
                "entity:create"
              ],
              "public": [
                "entity:view",
                "collection:view"
              ]
            }
          }
        },
        "required": [
          "id",
          "cid",
          "prev_cid",
          "ver",
          "roles"
        ]
      },
      "AddRoleRequest": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "description": "Name of the new role",
            "example": "harpooner"
          },
          "actions": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            },
            "minItems": 1,
            "description": "Actions this role can perform",
            "example": [
              "entity:view",
              "entity:create",
              "entity:update"
            ]
          }
        },
        "required": [
          "role",
          "actions"
        ]
      },
      "UpdateRoleRequest": {
        "type": "object",
        "properties": {
          "actions": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            },
            "minItems": 1,
            "description": "Updated actions for this role",
            "example": [
              "entity:view",
              "entity:create",
              "entity:update",
              "entity:delete"
            ]
          }
        },
        "required": [
          "actions"
        ]
      },
      "CollectionMember": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$"
          },
          "role": {
            "type": "string"
          },
          "userLabel": {
            "type": "string"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp when this membership expires (omitted for permanent)"
          },
          "granted_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp when this membership was granted"
          },
          "granted_by": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "User who granted this membership"
          },
          "is_expired": {
            "type": "boolean",
            "description": "Whether this membership has expired"
          }
        },
        "required": [
          "userId",
          "role",
          "is_expired"
        ]
      },
      "CollectionGroup": {
        "type": "object",
        "properties": {
          "groupId": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$"
          },
          "role": {
            "type": "string"
          },
          "groupLabel": {
            "type": "string"
          }
        },
        "required": [
          "groupId",
          "role"
        ]
      },
      "CollectionWildcard": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string"
          }
        },
        "required": [
          "role"
        ]
      },
      "MembersResponse": {
        "type": "object",
        "properties": {
          "collection_id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$"
          },
          "members": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CollectionMember"
            }
          },
          "groups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CollectionGroup"
            }
          },
          "wildcards": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CollectionWildcard"
            }
          }
        },
        "required": [
          "collection_id",
          "members",
          "groups",
          "wildcards"
        ]
      },
      "MemberAssignResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Entity ID (ULID format)",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          },
          "cid": {
            "type": "string",
            "minLength": 1,
            "description": "IPFS Content Identifier (CID)",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "prev_cid": {
            "type": "string",
            "minLength": 1,
            "description": "IPFS Content Identifier (CID)",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "ver": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Entity version number",
            "example": 1
          },
          "member_added": {
            "type": "object",
            "properties": {
              "user_id": {
                "type": "string",
                "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$"
              },
              "role": {
                "type": "string"
              },
              "expires_at": {
                "type": "string",
                "format": "date-time",
                "description": "ISO 8601 timestamp when this role expires (omitted for permanent)",
                "example": "2025-01-15T00:00:00.000Z"
              },
              "granted_at": {
                "type": "string",
                "format": "date-time",
                "description": "ISO 8601 timestamp when this role was granted",
                "example": "2025-01-01T12:00:00.000Z"
              },
              "granted_by": {
                "type": "string",
                "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
                "description": "User who granted this role"
              }
            },
            "required": [
              "user_id",
              "role",
              "granted_at",
              "granted_by"
            ]
          }
        },
        "required": [
          "id",
          "cid",
          "prev_cid",
          "ver",
          "member_added"
        ]
      },
      "AssignRoleRequest": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "User entity ID to assign the role to",
            "example": "01JQ3EQ3EG000000000000000"
          },
          "role": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "description": "Role name to assign",
            "example": "harpooner"
          },
          "expires_in": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Seconds until this role assignment expires (omit for permanent access)",
            "example": 86400
          }
        },
        "required": [
          "user_id",
          "role"
        ]
      },
      "MemberRemoveResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Entity ID (ULID format)",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          },
          "cid": {
            "type": "string",
            "minLength": 1,
            "description": "IPFS Content Identifier (CID)",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "prev_cid": {
            "type": "string",
            "minLength": 1,
            "description": "IPFS Content Identifier (CID)",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "ver": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Entity version number",
            "example": 1
          },
          "member_removed": {
            "type": "object",
            "properties": {
              "user_id": {
                "type": "string",
                "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$"
              },
              "role": {
                "type": "string"
              }
            },
            "required": [
              "user_id",
              "role"
            ]
          }
        },
        "required": [
          "id",
          "cid",
          "prev_cid",
          "ver",
          "member_removed"
        ]
      },
      "SetRootEntityResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CollectionUpdateResponse"
          },
          {
            "type": "object",
            "properties": {
              "root_entity_id": {
                "type": "string",
                "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
                "description": "ID of the entity that was set as root"
              }
            },
            "required": [
              "root_entity_id"
            ]
          }
        ]
      },
      "SetRootEntityRequest": {
        "type": "object",
        "properties": {
          "expect_tip": {
            "type": "string",
            "minLength": 1,
            "description": "Current tip CID for CAS validation. Request fails with 409 if this does not match.",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "entity_id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Entity ID to set as the root of this collection. Entity must already have a collection relationship pointing to this collection.",
            "example": "01JQ3EQ3EG000000000000000"
          }
        },
        "required": [
          "expect_tip",
          "entity_id"
        ]
      },
      "EntityCreatedResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Entity ID (ULID format)",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          },
          "cid": {
            "type": "string",
            "minLength": 1,
            "description": "IPFS Content Identifier (CID)",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "type": {
            "type": "string",
            "example": "collection"
          },
          "properties": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "example": {
              "label": "The Pequod's Archive",
              "description": "A collection of whaling documents"
            }
          },
          "relationships": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "predicate": {
                  "type": "string",
                  "minLength": 1
                },
                "peer": {
                  "type": "string",
                  "minLength": 1
                },
                "peer_type": {
                  "type": "string"
                },
                "peer_label": {
                  "type": "string"
                },
                "properties": {
                  "type": "object",
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              },
              "required": [
                "predicate",
                "peer"
              ],
              "description": "Entity relationship",
              "example": {
                "predicate": "crew",
                "peer": "01KDETYWYWM0MJVKM8DK3AEXPY",
                "peer_type": "collection"
              }
            }
          },
          "ver": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Entity version number",
            "example": 1
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 datetime",
            "example": "2025-12-26T12:00:00.000Z"
          },
          "ts": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Unix timestamp in milliseconds",
            "example": 1735214400000
          },
          "prev_cid": {
            "type": "string",
            "minLength": 1,
            "description": "Previous version CID (present on updates)",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          }
        },
        "required": [
          "id",
          "cid",
          "type",
          "properties",
          "relationships",
          "ver",
          "created_at",
          "ts"
        ]
      },
      "CreateEntityRequest": {
        "type": "object",
        "properties": {
          "note": {
            "type": "string",
            "description": "Optional note describing this change",
            "example": "Added Chapter 42: The Whiteness of the Whale"
          },
          "id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Custom entity ID (generated if not provided)",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          },
          "type": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "description": "Entity type identifier",
            "example": "document"
          },
          "properties": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Entity properties (type-specific)",
            "example": {
              "label": "Chapter 1: Loomings",
              "author": "Herman Melville"
            }
          },
          "relationships": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "predicate": {
                  "type": "string",
                  "minLength": 1
                },
                "peer": {
                  "type": "string",
                  "minLength": 1
                },
                "peer_type": {
                  "type": "string"
                },
                "peer_label": {
                  "type": "string"
                },
                "properties": {
                  "type": "object",
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              },
              "required": [
                "predicate",
                "peer"
              ],
              "description": "Entity relationship",
              "example": {
                "predicate": "crew",
                "peer": "01KDETYWYWM0MJVKM8DK3AEXPY",
                "peer_type": "collection"
              }
            },
            "description": "Entity relationships"
          },
          "collection": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Parent collection ID (creates collection relationship)",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          }
        },
        "required": [
          "type"
        ]
      },
      "EntityUpdatedResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EntityResponse"
          },
          {
            "type": "object",
            "properties": {
              "prev_cid": {
                "type": "string",
                "minLength": 1,
                "description": "Previous version CID",
                "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
              }
            },
            "required": [
              "prev_cid"
            ]
          }
        ]
      },
      "UpdateEntityRequest": {
        "type": "object",
        "properties": {
          "expect_tip": {
            "type": "string",
            "minLength": 1,
            "description": "Current tip CID for CAS validation. Request fails with 409 if this does not match.",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "note": {
            "type": "string",
            "description": "Optional note describing this change",
            "example": "Added Chapter 42: The Whiteness of the Whale"
          },
          "properties": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Properties to add or update (deep merged with existing)",
            "example": {
              "label": "Chapter 1: Loomings (Revised)",
              "metadata": {
                "status": "reviewed"
              }
            }
          },
          "properties_remove": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Top-level property keys to remove",
                "example": [
                  "deprecated_field",
                  "old_field"
                ]
              },
              {
                "type": "object",
                "additionalProperties": {
                  "nullable": true
                },
                "description": "Nested removal structure (recursive: values can be string[] or nested objects)"
              }
            ],
            "description": "Properties to remove (string array or nested object)",
            "example": [
              "deprecated_field"
            ]
          },
          "relationships_add": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "predicate": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Relationship predicate (e.g., \"admin\", \"contains\", \"collection\")",
                  "example": "admin"
                },
                "peer": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Target entity ID",
                  "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
                },
                "peer_type": {
                  "type": "string",
                  "description": "Target entity type hint",
                  "example": "user"
                },
                "peer_label": {
                  "type": "string",
                  "description": "Target entity label hint",
                  "example": "Captain Ahab"
                },
                "properties": {
                  "type": "object",
                  "additionalProperties": {
                    "nullable": true
                  },
                  "description": "Properties to add/update on this relationship (deep merged if relationship exists)",
                  "example": {
                    "expires_at": "2025-12-31T00:00:00Z"
                  }
                },
                "properties_remove": {
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      }
                    }
                  ],
                  "description": "Properties to remove from this relationship (string array or nested object)"
                }
              },
              "required": [
                "predicate",
                "peer"
              ],
              "description": "Relationship to add or update (upsert semantics)"
            },
            "description": "Relationships to add or update (upsert semantics)"
          },
          "relationships_remove": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "predicate": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Relationship predicate",
                  "example": "viewer"
                },
                "peer": {
                  "type": "string",
                  "description": "Target entity ID. If omitted, removes ALL relationships with this predicate.",
                  "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
                }
              },
              "required": [
                "predicate"
              ],
              "description": "Relationship to remove"
            },
            "description": "Relationships to remove"
          },
          "components": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Components to add or update (key → CID)",
            "example": {
              "transcript.txt": "bafyrei..."
            }
          },
          "components_remove": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Component keys to remove",
            "example": [
              "old_version.txt"
            ]
          }
        },
        "required": [
          "expect_tip"
        ]
      },
      "AddRelationshipResponse": {
        "type": "object",
        "properties": {
          "source": {
            "allOf": [
              {
                "$ref": "#/components/schemas/EntityResponse"
              },
              {
                "description": "Updated source entity"
              }
            ]
          },
          "target": {
            "allOf": [
              {
                "$ref": "#/components/schemas/EntityResponse"
              },
              {
                "description": "Updated target entity (present for bidirectional relationships)"
              }
            ]
          }
        },
        "required": [
          "source"
        ]
      },
      "AddRelationshipRequest": {
        "type": "object",
        "properties": {
          "note": {
            "type": "string",
            "description": "Optional note describing this change",
            "example": "Added Chapter 42: The Whiteness of the Whale"
          },
          "source_id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Source entity ID",
            "example": "01JFKY3XQWM0MJVKM8DK3AEXPY"
          },
          "target_id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Target entity ID",
            "example": "01JFKY3XQWM0MJVKM8DK3AEXQZ"
          },
          "source_predicate": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-z][a-z0-9_]*$",
            "description": "Predicate on source entity pointing to target",
            "example": "collection"
          },
          "target_predicate": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-z][a-z0-9_]*$",
            "description": "Predicate on target entity pointing to source. If provided, creates bidirectional relationship.",
            "example": "root"
          },
          "expect_source_tip": {
            "type": "string",
            "minLength": 1,
            "description": "Expected current tip CID of source entity",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "expect_target_tip": {
            "type": "string",
            "minLength": 1,
            "description": "Expected current tip CID of target entity. Required for bidirectional relationships if target is protected.",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          }
        },
        "required": [
          "source_id",
          "target_id",
          "source_predicate",
          "expect_source_tip"
        ]
      },
      "RemoveRelationshipResponse": {
        "type": "object",
        "properties": {
          "source": {
            "allOf": [
              {
                "$ref": "#/components/schemas/EntityResponse"
              },
              {
                "description": "Updated source entity"
              }
            ]
          },
          "target": {
            "allOf": [
              {
                "$ref": "#/components/schemas/EntityResponse"
              },
              {
                "description": "Updated target entity (present for bidirectional relationships)"
              }
            ]
          }
        },
        "required": [
          "source"
        ]
      },
      "RemoveRelationshipRequest": {
        "type": "object",
        "properties": {
          "note": {
            "type": "string",
            "description": "Optional note describing this change",
            "example": "Added Chapter 42: The Whiteness of the Whale"
          },
          "source_id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Source entity ID",
            "example": "01JFKY3XQWM0MJVKM8DK3AEXPY"
          },
          "target_id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Target entity ID (peer of the relationship to remove)",
            "example": "01JFKY3XQWM0MJVKM8DK3AEXQZ"
          },
          "source_predicate": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-z][a-z0-9_]*$",
            "description": "Predicate on source entity to remove",
            "example": "collection"
          },
          "target_predicate": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-z][a-z0-9_]*$",
            "description": "Predicate on target entity to remove. If provided, removes bidirectional relationship.",
            "example": "root"
          },
          "expect_source_tip": {
            "type": "string",
            "minLength": 1,
            "description": "Expected current tip CID of source entity",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "expect_target_tip": {
            "type": "string",
            "minLength": 1,
            "description": "Expected current tip CID of target entity. Required for bidirectional relationships.",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          }
        },
        "required": [
          "source_id",
          "target_id",
          "source_predicate",
          "expect_source_tip"
        ]
      },
      "CreateFileResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Entity ID (ULID format)",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          },
          "cid": {
            "type": "string",
            "minLength": 1,
            "description": "IPFS Content Identifier (CID)",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "type": {
            "type": "string",
            "enum": [
              "file"
            ]
          },
          "properties": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "example": {
              "label": "The Pequod's Archive",
              "description": "A collection of whaling documents"
            }
          },
          "relationships": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "predicate": {
                  "type": "string",
                  "minLength": 1
                },
                "peer": {
                  "type": "string",
                  "minLength": 1
                },
                "peer_type": {
                  "type": "string"
                },
                "peer_label": {
                  "type": "string"
                },
                "properties": {
                  "type": "object",
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              },
              "required": [
                "predicate",
                "peer"
              ],
              "description": "Entity relationship",
              "example": {
                "predicate": "crew",
                "peer": "01KDETYWYWM0MJVKM8DK3AEXPY",
                "peer_type": "collection"
              }
            }
          },
          "ver": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Entity version number",
            "example": 1
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 datetime",
            "example": "2025-12-26T12:00:00.000Z"
          },
          "ts": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Unix timestamp in milliseconds",
            "example": 1735214400000
          },
          "upload_url": {
            "type": "string",
            "format": "uri",
            "description": "Presigned S3 URL for uploading file content",
            "example": "https://arke-blocks.s3.amazonaws.com/01JFILE123.../v1?X-Amz-..."
          },
          "upload_expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the upload URL expires (15 minutes)",
            "example": "2025-12-26T12:00:00.000Z"
          }
        },
        "required": [
          "id",
          "cid",
          "type",
          "properties",
          "relationships",
          "ver",
          "created_at",
          "ts",
          "upload_url",
          "upload_expires_at"
        ]
      },
      "CreateFileRequest": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "minLength": 1,
            "description": "Storage key in S3. Best practice: use the CID.",
            "example": "bafkreiabc123..."
          },
          "filename": {
            "type": "string",
            "minLength": 1,
            "description": "Original filename",
            "example": "document.pdf"
          },
          "content_type": {
            "type": "string",
            "minLength": 1,
            "description": "MIME type of the file",
            "example": "application/pdf"
          },
          "size": {
            "type": "integer",
            "minimum": 0,
            "description": "File size in bytes",
            "example": 1048576
          },
          "cid": {
            "type": "string",
            "description": "Content identifier (CID). Not verified, just metadata.",
            "example": "bafkreiabc123..."
          },
          "description": {
            "type": "string",
            "description": "Description of the file",
            "example": "Q4 Financial Report"
          },
          "properties": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Additional properties to store",
            "example": {
              "source": "upload",
              "category": "financial"
            }
          },
          "relationships": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "predicate": {
                  "type": "string",
                  "minLength": 1
                },
                "peer": {
                  "type": "string",
                  "minLength": 1
                },
                "peer_type": {
                  "type": "string"
                },
                "peer_label": {
                  "type": "string"
                },
                "properties": {
                  "type": "object",
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              },
              "required": [
                "predicate",
                "peer"
              ],
              "description": "Entity relationship",
              "example": {
                "predicate": "crew",
                "peer": "01KDETYWYWM0MJVKM8DK3AEXPY",
                "peer_type": "collection"
              }
            },
            "description": "Relationships to create"
          },
          "collection": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Collection to add this file to (for permissions). Shortcut for adding a collection relationship.",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          }
        },
        "required": [
          "key",
          "filename",
          "content_type",
          "size"
        ]
      },
      "FileResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EntityResponse"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "file"
                ]
              }
            }
          }
        ]
      },
      "DownloadResponse": {
        "type": "object",
        "properties": {
          "download_url": {
            "type": "string",
            "format": "uri",
            "description": "Presigned S3 URL for downloading file content",
            "example": "https://arke-blocks.s3.amazonaws.com/01JFILE123.../v1?X-Amz-..."
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the download URL expires (5 minutes)",
            "example": "2025-12-26T12:00:00.000Z"
          },
          "filename": {
            "type": "string",
            "description": "Filename for download",
            "example": "document.pdf"
          },
          "content_type": {
            "type": "string",
            "description": "MIME type of the file",
            "example": "application/pdf"
          },
          "size": {
            "type": "integer",
            "description": "File size in bytes",
            "example": 1048576
          }
        },
        "required": [
          "download_url",
          "expires_at",
          "filename",
          "content_type",
          "size"
        ]
      },
      "UpdateFileResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/FileResponse"
          },
          {
            "type": "object",
            "properties": {
              "prev_cid": {
                "type": "string",
                "minLength": 1,
                "description": "Previous version CID",
                "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
              }
            },
            "required": [
              "prev_cid"
            ]
          }
        ]
      },
      "UpdateFileRequest": {
        "type": "object",
        "properties": {
          "expect_tip": {
            "type": "string",
            "minLength": 1,
            "description": "Current tip CID for CAS validation. Request fails with 409 if this does not match.",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "note": {
            "type": "string",
            "description": "Optional note describing this change",
            "example": "Added Chapter 42: The Whiteness of the Whale"
          },
          "key": {
            "type": "string",
            "minLength": 1,
            "description": "New storage key. Must already exist in S3 (for regression to old version)."
          },
          "filename": {
            "type": "string",
            "minLength": 1,
            "description": "New filename"
          },
          "content_type": {
            "type": "string",
            "minLength": 1,
            "description": "New MIME type"
          },
          "size": {
            "type": "integer",
            "minimum": 0,
            "description": "New file size in bytes"
          },
          "cid": {
            "type": "string",
            "description": "New content identifier"
          },
          "description": {
            "type": "string",
            "description": "New description"
          },
          "properties": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Additional properties to merge into the file metadata",
            "example": {
              "log_data": {
                "status": "done",
                "entries": []
              }
            }
          },
          "relationships_add": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "predicate": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Relationship predicate (e.g., \"admin\", \"contains\", \"collection\")",
                  "example": "admin"
                },
                "peer": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Target entity ID",
                  "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
                },
                "peer_type": {
                  "type": "string",
                  "description": "Target entity type hint",
                  "example": "user"
                },
                "peer_label": {
                  "type": "string",
                  "description": "Target entity label hint",
                  "example": "Captain Ahab"
                },
                "properties": {
                  "type": "object",
                  "additionalProperties": {
                    "nullable": true
                  },
                  "description": "Properties to add/update on this relationship (deep merged if relationship exists)",
                  "example": {
                    "expires_at": "2025-12-31T00:00:00Z"
                  }
                },
                "properties_remove": {
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      }
                    }
                  ],
                  "description": "Properties to remove from this relationship (string array or nested object)"
                }
              },
              "required": [
                "predicate",
                "peer"
              ],
              "description": "Relationship to add or update (upsert semantics)"
            },
            "description": "Relationships to add or update"
          },
          "relationships_remove": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "predicate": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Relationship predicate",
                  "example": "viewer"
                },
                "peer": {
                  "type": "string",
                  "description": "Target entity ID. If omitted, removes ALL relationships with this predicate.",
                  "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
                }
              },
              "required": [
                "predicate"
              ],
              "description": "Relationship to remove"
            },
            "description": "Relationships to remove"
          }
        },
        "required": [
          "expect_tip"
        ]
      },
      "ReuploadFileResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/UpdateFileResponse"
          },
          {
            "type": "object",
            "properties": {
              "upload_url": {
                "type": "string",
                "format": "uri",
                "description": "Presigned S3 URL for uploading new file content"
              },
              "upload_expires_at": {
                "type": "string",
                "format": "date-time",
                "description": "When the upload URL expires (15 minutes)",
                "example": "2025-12-26T12:00:00.000Z"
              }
            },
            "required": [
              "upload_url",
              "upload_expires_at"
            ]
          }
        ]
      },
      "ReuploadFileRequest": {
        "type": "object",
        "properties": {
          "expect_tip": {
            "type": "string",
            "minLength": 1,
            "description": "Current tip CID for CAS validation. Request fails with 409 if this does not match.",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "note": {
            "type": "string",
            "description": "Optional note describing this change",
            "example": "Added Chapter 42: The Whiteness of the Whale"
          },
          "key": {
            "type": "string",
            "minLength": 1,
            "description": "New storage key. Must NOT already exist in S3.",
            "example": "v2"
          },
          "content_type": {
            "type": "string",
            "minLength": 1,
            "description": "MIME type of the new file",
            "example": "application/pdf"
          },
          "size": {
            "type": "integer",
            "minimum": 0,
            "description": "Size of the new file in bytes",
            "example": 2097152
          },
          "filename": {
            "type": "string",
            "minLength": 1,
            "description": "New filename (optional, keeps current if not provided)"
          },
          "cid": {
            "type": "string",
            "description": "Content identifier for new file"
          },
          "description": {
            "type": "string",
            "description": "New description"
          }
        },
        "required": [
          "expect_tip",
          "key",
          "content_type",
          "size"
        ]
      },
      "CreateFolderResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Entity ID (ULID format)",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          },
          "cid": {
            "type": "string",
            "minLength": 1,
            "description": "IPFS Content Identifier (CID)",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "type": {
            "type": "string",
            "enum": [
              "folder"
            ]
          },
          "properties": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "example": {
              "label": "The Pequod's Archive",
              "description": "A collection of whaling documents"
            }
          },
          "relationships": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "predicate": {
                  "type": "string",
                  "minLength": 1
                },
                "peer": {
                  "type": "string",
                  "minLength": 1
                },
                "peer_type": {
                  "type": "string"
                },
                "peer_label": {
                  "type": "string"
                },
                "properties": {
                  "type": "object",
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              },
              "required": [
                "predicate",
                "peer"
              ],
              "description": "Entity relationship",
              "example": {
                "predicate": "crew",
                "peer": "01KDETYWYWM0MJVKM8DK3AEXPY",
                "peer_type": "collection"
              }
            }
          },
          "ver": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Entity version number",
            "example": 1
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 datetime",
            "example": "2025-12-26T12:00:00.000Z"
          },
          "ts": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Unix timestamp in milliseconds",
            "example": 1735214400000
          }
        },
        "required": [
          "id",
          "cid",
          "type",
          "properties",
          "relationships",
          "ver",
          "created_at",
          "ts"
        ]
      },
      "CreateFolderRequest": {
        "type": "object",
        "properties": {
          "note": {
            "type": "string",
            "description": "Optional note describing this change",
            "example": "Added Chapter 42: The Whiteness of the Whale"
          },
          "label": {
            "type": "string",
            "minLength": 1,
            "description": "Display name for the folder",
            "example": "Research Documents"
          },
          "description": {
            "type": "string",
            "description": "Short description"
          },
          "rich_description": {
            "type": "string",
            "description": "Rich content description (markdown)"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Flexible metadata"
          },
          "properties": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Additional properties to store"
          },
          "relationships": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "predicate": {
                  "type": "string",
                  "minLength": 1
                },
                "peer": {
                  "type": "string",
                  "minLength": 1
                },
                "peer_type": {
                  "type": "string"
                },
                "peer_label": {
                  "type": "string"
                },
                "properties": {
                  "type": "object",
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              },
              "required": [
                "predicate",
                "peer"
              ],
              "description": "Entity relationship",
              "example": {
                "predicate": "crew",
                "peer": "01KDETYWYWM0MJVKM8DK3AEXPY",
                "peer_type": "collection"
              }
            },
            "description": "Relationships to create"
          },
          "collection": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Collection to add folder to (for permissions). Shortcut for adding a collection relationship.",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          },
          "parent": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Parent folder ID (creates bidirectional relationship)",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          }
        },
        "required": [
          "label"
        ]
      },
      "FolderResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EntityResponse"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "folder"
                ]
              }
            }
          }
        ]
      },
      "UpdateFolderResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/FolderResponse"
          },
          {
            "type": "object",
            "properties": {
              "prev_cid": {
                "type": "string",
                "minLength": 1,
                "description": "Previous version CID",
                "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
              }
            },
            "required": [
              "prev_cid"
            ]
          }
        ]
      },
      "UpdateFolderRequest": {
        "type": "object",
        "properties": {
          "expect_tip": {
            "type": "string",
            "minLength": 1,
            "description": "Current tip CID for CAS validation. Request fails with 409 if this does not match.",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "note": {
            "type": "string",
            "description": "Optional note describing this change",
            "example": "Added Chapter 42: The Whiteness of the Whale"
          },
          "label": {
            "type": "string",
            "minLength": 1,
            "description": "New display name"
          },
          "description": {
            "type": "string",
            "description": "New description"
          },
          "rich_description": {
            "type": "string",
            "description": "New rich description"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "New metadata (deep merged)"
          },
          "properties": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Additional properties to merge"
          },
          "relationships_add": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "predicate": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Relationship predicate (e.g., \"admin\", \"contains\", \"collection\")",
                  "example": "admin"
                },
                "peer": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Target entity ID",
                  "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
                },
                "peer_type": {
                  "type": "string",
                  "description": "Target entity type hint",
                  "example": "user"
                },
                "peer_label": {
                  "type": "string",
                  "description": "Target entity label hint",
                  "example": "Captain Ahab"
                },
                "properties": {
                  "type": "object",
                  "additionalProperties": {
                    "nullable": true
                  },
                  "description": "Properties to add/update on this relationship (deep merged if relationship exists)",
                  "example": {
                    "expires_at": "2025-12-31T00:00:00Z"
                  }
                },
                "properties_remove": {
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      }
                    }
                  ],
                  "description": "Properties to remove from this relationship (string array or nested object)"
                }
              },
              "required": [
                "predicate",
                "peer"
              ],
              "description": "Relationship to add or update (upsert semantics)"
            },
            "description": "Relationships to add or update"
          },
          "relationships_remove": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "predicate": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Relationship predicate",
                  "example": "viewer"
                },
                "peer": {
                  "type": "string",
                  "description": "Target entity ID. If omitted, removes ALL relationships with this predicate.",
                  "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
                }
              },
              "required": [
                "predicate"
              ],
              "description": "Relationship to remove"
            },
            "description": "Relationships to remove"
          }
        },
        "required": [
          "expect_tip"
        ]
      },
      "AddChildResponse": {
        "type": "object",
        "properties": {
          "folder": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FolderResponse"
              },
              {
                "description": "Updated folder"
              }
            ]
          },
          "child": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
                "description": "Entity ID (ULID format)",
                "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
              },
              "cid": {
                "type": "string",
                "minLength": 1,
                "description": "IPFS Content Identifier (CID)",
                "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
              }
            },
            "required": [
              "id",
              "cid"
            ],
            "description": "Updated child info"
          }
        },
        "required": [
          "folder",
          "child"
        ]
      },
      "AddChildRequest": {
        "type": "object",
        "properties": {
          "expect_tip": {
            "type": "string",
            "minLength": 1,
            "description": "Current tip CID for CAS validation. Request fails with 409 if this does not match.",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "note": {
            "type": "string",
            "description": "Optional note describing this change",
            "example": "Added Chapter 42: The Whiteness of the Whale"
          },
          "child_id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Child entity ID to add (file or folder)",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          },
          "expect_child_tip": {
            "type": "string",
            "minLength": 1,
            "description": "Expected CID of child (CAS guard, optional if child in open season)",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          }
        },
        "required": [
          "expect_tip",
          "child_id"
        ]
      },
      "RemoveChildResponse": {
        "type": "object",
        "properties": {
          "folder": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FolderResponse"
              },
              {
                "description": "Updated folder"
              }
            ]
          },
          "child": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
                "description": "Entity ID (ULID format)",
                "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
              },
              "cid": {
                "type": "string",
                "minLength": 1,
                "description": "IPFS Content Identifier (CID)",
                "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
              }
            },
            "required": [
              "id",
              "cid"
            ],
            "description": "Updated child info"
          }
        },
        "required": [
          "folder",
          "child"
        ]
      },
      "RemoveChildRequest": {
        "type": "object",
        "properties": {
          "expect_tip": {
            "type": "string",
            "minLength": 1,
            "description": "Current tip CID for CAS validation. Request fails with 409 if this does not match.",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "note": {
            "type": "string",
            "description": "Optional note describing this change",
            "example": "Added Chapter 42: The Whiteness of the Whale"
          },
          "expect_child_tip": {
            "type": "string",
            "minLength": 1,
            "description": "Expected CID of child (CAS guard)",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          }
        },
        "required": [
          "expect_tip",
          "expect_child_tip"
        ]
      },
      "BulkAddChildrenResponse": {
        "type": "object",
        "properties": {
          "folder": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FolderResponse"
              },
              {
                "description": "Updated folder"
              }
            ]
          },
          "added": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
                  "description": "Entity ID (ULID format)",
                  "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
                },
                "cid": {
                  "type": "string",
                  "minLength": 1,
                  "description": "IPFS Content Identifier (CID)",
                  "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
                }
              },
              "required": [
                "id",
                "cid"
              ]
            },
            "description": "Children that were added"
          },
          "skipped": {
            "type": "array",
            "items": {
              "type": "string",
              "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
              "description": "Entity ID (ULID format)",
              "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
            },
            "description": "Children that were skipped (already existed)"
          }
        },
        "required": [
          "folder",
          "added",
          "skipped"
        ]
      },
      "BulkAddChildrenRequest": {
        "type": "object",
        "properties": {
          "expect_tip": {
            "type": "string",
            "minLength": 1,
            "description": "Current tip CID for CAS validation. Request fails with 409 if this does not match.",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "note": {
            "type": "string",
            "description": "Optional note describing this change",
            "example": "Added Chapter 42: The Whiteness of the Whale"
          },
          "children": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
                  "description": "Entity ID (ULID format)",
                  "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
                },
                "type": {
                  "type": "string"
                }
              },
              "required": [
                "id"
              ]
            },
            "minItems": 1,
            "description": "Children to add",
            "example": [
              {
                "id": "01JFILE123ABCDEFGHJKMNPQRS"
              },
              {
                "id": "01JFOLDER456ABCDEFGHJKMNPQ",
                "type": "folder"
              }
            ]
          }
        },
        "required": [
          "expect_tip",
          "children"
        ]
      },
      "AddParentResponse": {
        "type": "object",
        "properties": {
          "folder": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FolderResponse"
              },
              {
                "description": "Updated folder"
              }
            ]
          },
          "parent": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FolderResponse"
              },
              {
                "description": "Updated parent folder"
              }
            ]
          }
        },
        "required": [
          "folder",
          "parent"
        ]
      },
      "AddParentRequest": {
        "type": "object",
        "properties": {
          "expect_tip": {
            "type": "string",
            "minLength": 1,
            "description": "Current tip CID for CAS validation. Request fails with 409 if this does not match.",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "note": {
            "type": "string",
            "description": "Optional note describing this change",
            "example": "Added Chapter 42: The Whiteness of the Whale"
          },
          "parent_id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Parent folder ID to add",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          },
          "expect_parent_tip": {
            "type": "string",
            "minLength": 1,
            "description": "Expected CID of parent (CAS guard, optional if parent in open season)",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          }
        },
        "required": [
          "expect_tip",
          "parent_id"
        ]
      },
      "RemoveParentResponse": {
        "type": "object",
        "properties": {
          "folder": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FolderResponse"
              },
              {
                "description": "Updated folder"
              }
            ]
          },
          "parent": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FolderResponse"
              },
              {
                "description": "Updated parent folder"
              }
            ]
          }
        },
        "required": [
          "folder",
          "parent"
        ]
      },
      "RemoveParentRequest": {
        "type": "object",
        "properties": {
          "expect_tip": {
            "type": "string",
            "minLength": 1,
            "description": "Current tip CID for CAS validation. Request fails with 409 if this does not match.",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "note": {
            "type": "string",
            "description": "Optional note describing this change",
            "example": "Added Chapter 42: The Whiteness of the Whale"
          },
          "expect_parent_tip": {
            "type": "string",
            "minLength": 1,
            "description": "Expected CID of parent (CAS guard)",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          }
        },
        "required": [
          "expect_tip",
          "expect_parent_tip"
        ]
      },
      "VersionInfo": {
        "type": "object",
        "properties": {
          "ver": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Entity version number",
            "example": 1
          },
          "cid": {
            "type": "string",
            "minLength": 1,
            "description": "IPFS Content Identifier (CID)",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "ts": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 datetime",
            "example": "2025-12-26T12:00:00.000Z"
          },
          "edited_by": {
            "type": "object",
            "properties": {
              "user_id": {
                "type": "string",
                "minLength": 1
              },
              "method": {
                "type": "string",
                "enum": [
                  "manual",
                  "ai_generated",
                  "system",
                  "import"
                ]
              },
              "on_behalf_of": {
                "type": "string"
              }
            },
            "required": [
              "user_id",
              "method"
            ],
            "description": "Audit trail for edits",
            "example": {
              "user_id": "01JCAPTAINAHAB000000000000",
              "method": "manual"
            }
          },
          "note": {
            "type": "string",
            "description": "Optional note describing this version"
          }
        },
        "required": [
          "ver",
          "cid",
          "ts",
          "edited_by"
        ]
      },
      "VersionListResponse": {
        "type": "object",
        "properties": {
          "entity_id": {
            "type": "string",
            "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
            "description": "Entity ID (ULID format)",
            "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
          },
          "versions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VersionInfo"
            },
            "description": "Version metadata array (newest first)"
          },
          "has_more": {
            "type": "boolean",
            "description": "Whether more versions exist beyond this page"
          },
          "next_cursor": {
            "type": "string",
            "nullable": true,
            "minLength": 1,
            "description": "CID to use as \"from\" parameter for next page",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          }
        },
        "required": [
          "entity_id",
          "versions",
          "has_more",
          "next_cursor"
        ]
      },
      "ManifestResponse": {
        "type": "object",
        "properties": {
          "cid": {
            "type": "string",
            "minLength": 1,
            "description": "IPFS Content Identifier (CID)",
            "example": "bafyreibug443cnd4endcwinwttw3c3dzmcl2ikht64xzn5qg56bix3usfy"
          },
          "manifest": {
            "type": "object",
            "properties": {
              "schema": {
                "type": "string",
                "example": "arke/eidos@v1"
              },
              "id": {
                "type": "string",
                "pattern": "^(?:II[0-9A-HJKMNP-TV-Z]{24}|[FC][0-9A-HJKMNP-TV-Z]{25}|[0-9A-HJKMNP-TV-Z]{26})$",
                "description": "Entity ID (ULID format)",
                "example": "01KDETYWYWM0MJVKM8DK3AEXPY"
              },
              "type": {
                "type": "string",
                "example": "document"
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "ISO 8601 datetime",
                "example": "2025-12-26T12:00:00.000Z"
              },
              "ver": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true,
[...]
